# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode/

# Build
build/
vendor/

# Grunt
/node_modules/

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db
