{
	"parser": "babel-eslint",
	"extends": "eslint",
	"env": {
	  "browser": true,
	  "node": true
	},
	"settings": {
	  "react": {
		"version": "detect",
		"max-len": [ 2, { "code": 350 } ]
	  }
	},
	"rules": {
		"max-nested-callbacks": [2, 4]
	}
  }
