//Helpers
@import 'breakpoints';

// layouts
@import 'grids';


/**
 * _mixins.scss
 * User Registration Mixins
 */
@mixin ir() {
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
}

@mixin clearfix() {
	*zoom: 1;

	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}
}

@mixin icon_dashicons( $glyph: '\f333' ) {
	font-family: 'Dashicons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: $glyph;
}

@mixin iconbeforedashicons( $glyph: '\f333' ) {
	font-family: 'Dashicons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: 0.618em;
	content: $glyph;
	text-decoration: none;
}

@mixin loader() {
	&::before {
		width: 16px;
		height: 16px;
		position: absolute;
		display: block;
		content: '';
		animation: spin 1s ease-in-out infinite;
		background: url( '../images/icons/loader.svg' ) center center;
		background-size: cover;
	}
}
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}
@mixin flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  }
  @mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
	  #{'-' + $prefix + '-' + $property}: $value;
	}
	#{$property}: $value;
  }


@mixin pbtn-l {
	padding: $spacing_10px $spacing_24px;
	font-size: 16px;
	line-height: 26px;
	background: $primary_color;
	color: $white;
	border-radius: $border_radius_4;
}

@mixin pbtn-md {
	padding: $spacing_4px $spacing_12px;
	font-size: 14px;
	line-height: 24px;
	background: $primary_color;
	color: $white;
	border-radius: $border_radius_4;
}

@mixin pbtn-s {
	padding: 0px $spacing_8px;
	font-size: 12px;
	line-height: 20px;
	background: $primary_color;
	color: $white;
	border-radius: $border_radius_4;
}

@mixin sbtn-l {
	padding: $spacing_10px $spacing_24px;
	font-size: 16px;
	line-height: 26px;
	background: transparent;
	color: $primary_color;
	border-radius: $border_radius_4;
}

@mixin sbtn-md {
	padding: $spacing_4px $spacing_12px;
	font-size: 14px;
	line-height: 24px;
	background: transparent;
	color: $primary_color;
	border-radius: $border_radius_4;
}

@mixin sbtn-s {
	padding: 0px $spacing_8px;
	font-size: 12px;
	line-height: 20px;
	background: transparent;
	color: $primary_color;
	border-radius: $border_radius_4;
}

@mixin tags {
	padding: $spacing_4px $spacing_10px;
    background: #edeff7;
    border-radius: 50px;
    font-style: italic;
    font-weight: $regular;
    font-size: 12px;
    line-height: 20px;
    color: #383838;
}

@mixin input-field {
	min-height: 38px;
	border: $border_width solid #e9e9e9;
	border-radius: $border_radius_4;
	font-size: 14px;
	line-height: 24px;
	color: #383838;

	&::placeholder {
		color: #bababa;
	}

	&:focus {
		outline: none;
		box-shadow: none;
		border-color: $primary_color;
	}
}