$color_1: #aaa;
$color_2: black;
$background-color_1: rgba(0, 0, 0, 0.5);
$background-color_2: #fefefe;

#payment-detail-modal {
	h2 {
		font-size: 1.6em;
		font-weight: 700;
	}
}
.modal {
	display: none;
	flex-direction: column;
	position: fixed;
	z-index: 7001;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $background-color_1;
	justify-content: center;
	align-items: center;
}
.modal-content {
	background-color: $background-color_2;
	margin: 15px;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	border-radius: 5px;
}
.close-button {
	color: $color_1;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover {
		color: $color_2;
		text-decoration: none;
		cursor: pointer;
	}
	&:focus {
		color: $color_2;
		text-decoration: none;
		cursor: pointer;
	}
}
.modal-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.payment-detail-box {
	flex: 50%;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.payment-detail-label {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 5px;
}
.payment-status-btn {
	padding: 3px 5px;
}
// .payment-status-btn.pending {
// 	border: 1px solid #f0a64f;
// 	border-radius: 3px;
// 	background: #fff4f4;
// }
// .payment-status-btn.completed {
// 	border: 1px solid #a0e39a;
// 	border-radius: 3px;
// 	background: #f5fff4;
// }
// .payment-status-btn.failed {
// 	border: 1px solid #fab9b9;
// 	border-radius: 3px;
// 	background: #fff4f4;
// }

.payment-status-btn.refunded {
	border: 1px solid #6C8CA1;
	border-radius: 3px;
	background-color: #f4f4ff;
}

.no-items {
	td {
		background: white;
	}
	.empty-list-table-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img {
			max-width: 400px;
		}
	}
}

.ur-membership-filter-container {
	.select2 {
		&-selection {
			&__rendered {
				width: 120px;
			}
		}
	}
}

body.user-registration {
	#user-registration-pro-filters-row {
		.search-box {
			width: 275px;
		}
	}

	#ur-membership-payment-history-form {
		.tablenav {
			.bulkactions {
				.select2 {
					&-container {
						width: 220px !important;
					}
				}
			}
		}
	}

	#ur-membership-order-create-form {
		width: 100%;
		max-width: 100%;
	}
}
