#payment-detail-modal h2 {
  font-size: 1.6em;
  font-weight: 700;
}

.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 7001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-button:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.payment-detail-box {
  flex: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.payment-detail-label {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}

.payment-status-btn {
  padding: 3px 5px;
}

.payment-status-btn.pending {
  border: 1px solid #f0a64f;
  border-radius: 3px;
  background: #fff4f4;
}

.payment-status-btn.completed {
  border: 1px solid #a0e39a;
  border-radius: 3px;
  background: #f5fff4;
}

.payment-status-btn.failed {
  border: 1px solid #fab9b9;
  border-radius: 3px;
  background: #fff4f4;
}

.no-items td {
  background: white;
}
.no-items .empty-list-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-items .empty-list-table-container img {
  max-width: 400px;
}