.urcr-config-link {
	margin-bottom: 20px;
	text-decoration: underline;
	color: #007cba;
}
.urcr-block-restriction-rule-select .components-input-control__label {
	text-transform: capitalize !important;
	font-size: 13px !important;
}
.urcr-custom-restriction-msg-toggle .components-toggle-control__label {
	font-size: 13px !important;
	font-weight: 500;
	line-height: 1.4;
}
