
// Grid containers
//
// Define the maximum width of `.ur-container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px
) !default;

// Define grid variables
$grid-columns: 12;
$grid-gutter: 12px;
$grid-max-width: 65em;

// Define device breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";


@mixin create-container($gutter: $grid-gutter) {
	width: 100%;
	padding-right: $gutter / 2;
	padding-left: $gutter / 2;
	margin-right: auto;
	margin-left: auto;
}

@for $column from 1 through $grid-columns {
	.ur-col-#{$column} {
		width: 100% / 12 * $column;
	}
}

@media #{$breakpoint-medium} {
	@for $column from 1 through $grid-columns {
		.ur-col-#{$column} {
			width: 100% / 12 * $column;
		}
	}
}

// Container
.ur-container,
.ur-container--full {
	@include create-container();
}

@each $breakpoint, $container-max-width in $container-max-widths {
	.container-#{$breakpoint} {
		@extend .ur-container--full;
	}
}
