.user-registration,
.ur-form-container {
	.button-primary {
		background: $primary_color;
		border-color: $primary_color;
		box-shadow: 0 1px 0 $primary_color;
		text-shadow: none;

		&:hover,
		&:active,
		&:focus {
			background: $primary_dark;
			border-color: $primary_dark;
			box-shadow: 0 1px 0 $primary_dark;
		}

		&:disabled {
			color: lighten($primary_color, 30%) !important;
			background: lighten($primary_color, 10%) !important;
			border-color: lighten($primary_color, 10%) !important;
		}
	}

	.button-secondary {
		background: adjust-color($color_gray-base, $saturation: -25%, $lightness: +70% );
		border-color: adjust-color($color_gray-base, $saturation: -25%, $lightness: +70% );
		box-shadow: 0 1px 0 adjust-color($color_gray-base, $saturation: -25%, $lightness: +70% );

		&:hover,
		&:active,
		&:focus {
			background: adjust-color($color_gray-base, $saturation: -27%, $lightness: +60% );
			border-color: adjust-color($color_gray-base, $saturation: -27%, $lightness: +60% );
			box-shadow: 0 1px 0 adjust-color($color_gray-base, $saturation: -27%, $lightness: +60% );
		}
	}

	.publishing-action {
		button,
		input[type='button'],
		input[type='submit'],
		.button {
			margin-right: 5px;
		}
	}
}

.ur-registered-item.ui-draggable-dragging {
	padding: 10px 10px;
	line-height: 20px;
	background: $primary_color;
	color: $white;
	text-align: center;
	margin-bottom: 7px;
	word-break: break-word;
	white-space: normal;
	width: 200px !important;
	z-index: 9;

	span {
		font-size: 14px;
		line-height: 20px;
		width: auto;
		height: auto;
		margin-right: 3px;

	}
}
