.user-registration,
.ur-form-container {
	button,
	.button {
		transition: all 0.25s ease 0s;

		&.button-icon {
			width: 32px;
			padding: 0;

			.dashicons {
				line-height: 1;
				vertical-align: middle;
			}
		}

		&.button-icon-round {
			border-radius: 50%;
		}

		.ur-spinner {
			width: 16px;
			height: 16px;
			margin-left: 6px;
			margin-bottom: 2px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.button-primary {
		background: $primary_color;
		border-color: $primary_color;
		box-shadow: 0 1px 0 $primary_color;
		text-shadow: none;

		&:hover,
		&:active,
		&:focus {
			background: $primary_dark;
			border-color: $primary_dark;
			box-shadow: 0 1px 0 $primary_dark;
		}

		&:disabled {
			color: lighten($primary_color, 30%) !important;
			background: lighten($primary_color, 10%) !important;
			border-color: lighten($primary_color, 10%) !important;
		}
	}

	.button-secondary {
		color: $color_gray_base;
		background: $color_gray_four;
		border-color: $color_gray_four;
		box-shadow: 0 1px 0 $color_gray_four;

		&:hover,
		&:active,
		&:focus {
			color: $color_gray_base;
			background: $color_gray_three;
			border-color: $color_gray_three;
			box-shadow: 0 1px 0 $color_gray_three;
		}
	}

	.button-danger {
		color: $white;
		background: $color_danger;
		border-color: $color_danger;
		box-shadow: 0 1px 0 $color_danger;

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background: adjust-color($color_danger, $saturation: -15%, $lightness: -8% );
			border-color: adjust-color($color_danger, $saturation: -15%, $lightness: -8% );
			box-shadow: 0 1px 0 adjust-color($color_danger, $saturation: -15%, $lightness: -8% );
		}
	}

	.publishing-action {
		button,
		input[type='button'],
		input[type='submit'],
		.button {
			margin-right: 5px;
		}
	}
}

.ur-registered-item.ui-draggable-dragging {
	padding: 10px 10px;
	line-height: 20px;
	background: $primary_color;
	color: $white;
	text-align: center;
	margin-bottom: 7px;
	word-break: break-word;
	white-space: normal;
	width: 200px !important;
	z-index: 9;

	span {
		font-size: 14px;
		line-height: 20px;
		width: auto;
		height: auto;
		margin-right: 3px;

	}
}

.select2-container {
	.ur-select-all-countries-button {
		margin: 6px 3px 4px 6px;
	}

	.ur-unselect-all-countries-button {
		margin: 6px 3px 4px;
	}
}
