$primary_color: #3498DB;
$primary_dark: darken($primary_color, 10% ); // #217dbb
$primary_light: lighten($primary_color, 40%); // #e1f0fa
$white: #ffffff;
$color_gray_eleven: darken($white, 1% ); // #fcfcfc
$color_gray_ten: darken($white, 2.5% ); // #f9f9f9
$color_gray_nine: darken($white, 2.6% ); // #f8f8f8
$color_gray_eight: darken($white, 5% ); //#f2f2f2
$color_gray_seven: darken($white, 9% ); // #e8e8e8
$color_gray_six: darken($white, 13.5% ); // #dddddd
$black: #000000;
$color_gray_one: lighten($black, 25%); // #404040
$color_gray_two: lighten($black, 40%); // #666666
$color_gray_three: lighten($black, 45%); // #737373
$color_gray_four:  lighten($black, 47%); // #787878
$color_gray_five: lighten($black, 69.5%); // #b1b1b1
$color_sortable_background: #f7f7f7;
$color_danger: #d82223;
$border_color: #333333;

