.ur-h2,
.ur-h3,
.ur-h4 {
	font-weight: 600 !important;
}

.ur-h2 {
	font-size: 28px !important;
}

.ur-h3 {
	font-size: 20px !important;
}

.ur-h4 {
	font-size: 16px !important;
}

.ur-text-center {
	text-align: center;
}

.ur-text-right {
	text-align: right;
}

.ur-text-muted {
	color: $color_gray_three;
}

// Icon fonts
@font-face {
  font-family: 'UserRegistration';
  src:  url('../fonts/UserRegistration.eot?kjj80c');
  src:  url('../fonts/UserRegistration.eot?kjj80c#iefix') format('embedded-opentype'),
    url('../fonts/UserRegistration.ttf?kjj80c') format('truetype'),
    url('../fonts/UserRegistration.woff?kjj80c') format('woff'),
    url('../fonts/UserRegistration.svg?kjj80c#UserRegistration') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ur-icon-'],
[class*=' ur-icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'UserRegistration' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Define the Map for $field-icons */
$field-icons: (
	input-first-name: "\e001",
	input-last-name: "\e002",
	input-field: "\e003",
	input-password: "\e004",
	input-checkbox: "\e005",
	radio: "\e006",
	number: "\e007",
	phone: "\e008",
	calendar: "\e009",
	drop-down: "\e00a",
	textarea: "\e00b",
	email: "\e00c",
	email-secondary: "\e00d",
	email-confirm: "\e00e",
	invite-codes: "\e00f",
	password: "\e010",
	password-confirm: "\e011",
	user: "\e012",
	user-nickname: "\e013",
	user-display-name: "\e014",
	user-bio: "\e015",
	website: "\e016",
	flag: "\e017",
	map-one: "\e018",
	map-two: "\e019",
	zip-code: "\e01a",
	select2: "\e01b",
	multi-select: "\e01c",
	section-title: "\e01d",
	time-picker: "\e01e",
	state: "\e01f",
	buildings: "\e020",
	text-editor: "\e021",
	bill: "\e022",
	doc: "\e023",
	file-upload: "\e024",
	file-dollar: "\e025",
	code: "\e026",
	mailchimp: "\e027",
	credit-card: "\e028",
	range: "\e029",
	course: "\e02a"
);

/* For each key in the map, creating own class */
@each $name, $value in $field-icons {
	.ur-icon-#{$name}{
		&::before{
			content: $value;
		}
	}
}
