.ur-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;

	& * {
		box-sizing: border-box;
	}
}

.ur-col-1,
.ur-col-2,
.ur-col-3,
.ur-col-4,
.ur-col-5,
.ur-col-6,
.ur-col-7,
.ur-col-8,
.ur-col-9,
.ur-col-10,
.ur-col-11,
.ur-col-12 {
	position: relative;
	width: 100%;
	padding-right: 12px;
	padding-left: 12px;
}

.ur-col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.ur-col-4 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.ur-col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}
