.user-registration-overlay {
	background-color: transparentize($gray-base, 0.7);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;

	&.is-fixed {
		position: fixed;
	}

	#wpcontent & {
		margin-left: -20px;
	}

	.ur-spinner {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;

		&::before {
			width: 20px;
			height: 20px;
		}
	}
}
