/**
 * Margins
 **/
.ur-mb-0 {
	margin-bottom: 0;
}

.ur-mb-1 {
	margin-bottom: 8px;
}

.ur-mb-2 {
	margin-bottom: 16px;
}

.ur-mt-0 {
	margin-top: 0;
}

.ur-mt-1 {
	margin-top: 8px;
}

.ur-mt-2 {
	margin-top: 16px;
}

.ur-mr-0 {
	margin-right: 0;
}

.ur-mr-1 {
	margin-right: 8px;
}

.ur-mr-2 {
	margin-right: 16px;
}

