/**
 * Margins
 **/
// Margin Bottom
.ur-mb-0, .ur-my-0 {
	margin-bottom: 0;
}

.ur-mb-1, .ur-my-1 {
	margin-bottom: 8px;
}

.ur-mb-2, .ur-my-2 {
	margin-bottom: 16px;
}

// Margin Top
.ur-mt-0, .ur-my-0 {
	margin-top: 0;
}

.ur-mt-1, .ur-my-1 {
	margin-top: 8px;
}

.ur-mt-2, .ur-my-2 {
	margin-top: 16px;
}

// Margin Left
.ur-ml-0, .ur-mx-0 {
	margin-right: 0;
}

.ur-ml-1, .ur-mx-1 {
	margin-right: 8px;
}

.ur-ml-2, .ur-mx-2 {
	margin-right: 16px;
}

// Margin Right
.ur-mr-0, .ur-mx-0 {
	margin-right: 0;
}

.ur-mr-1, .ur-mx-1 {
	margin-right: 8px;
}

.ur-mr-2, .ur-mx-2 {
	margin-right: 16px;
}

/**
 * Paddings
 **/
// Padding Bottom
.ur-pb-0, .ur-py-0 {
	padding-bottom: 0;
}

.ur-pb-1, .ur-py-1 {
	padding-bottom: 8px;
}

.ur-pb-2, .ur-py-2 {
	padding-bottom: 16px;
}

// Padding Top
.ur-pt-0, .ur-py-0 {
	padding-top: 0;
}

.ur-pt-1, .ur-py-1 {
	padding-top: 8px;
}

.ur-pt-2, .ur-py-2 {
	padding-top: 16px;
}

// Padding Left
.ur-pl-0, .ur-px-0 {
	padding-right: 0;
}

.ur-pl-1, .ur-px-1 {
	padding-right: 8px;
}

.ur-pl-2, .ur-px-2 {
	padding-right: 16px;
}

// Padding Right
.ur-pr-0, .ur-px-0 {
	padding-right: 0;
}

.ur-pr-1, .ur-px-1 {
	padding-right: 8px;
}

.ur-pr-2, .ur-px-2 {
	padding-right: 16px;
}

