table.user-registration-table {
	width: 100%;
	background: $white;
	border-collapse: collapse;

	th,
	td {
		padding: 1rem;
		text-align: left;
		border-bottom: 1px solid $border-color;
	}

	th {
		font-size: 14px;
		font-weight: 500;
	}

	thead {
		th {
			background: lighten($color_gray_five, 3%);;
		}
	}

	input,
	select,
	textarea {
		width: 100%;
		box-shadow: none;
		border-radius: 4px;
	}

	.ur-table-map-label {
		.ur-table-map-label-desc {
			color: $color_gray_two;
			display: block;
			font-style: italic;
			margin-top: 4px;
		}
	}
}
