/**
 * Variables
 */

// Color System
// Primary
$primary_color: 	#475BB2;
$primary_dark: 		darken($primary_color, 10% ); // #217dbb
$primary_light: 	lighten($primary_color, 40%); // #e1f0fa

// Alerts
$green:		#7ad03a;
$red:		#ff4149;
$orange:	#ffba00;
$blue:		#2ea2cc;

// Gray Shades
$white: 					#ffffff;
$gray_base: 				#2d3559;
$color_gray_one: 			adjust-color($gray_base, $saturation: -11%, $lightness: +12%); // #4c5477
$color_gray_two: 			adjust-color($gray_base, $saturation: -18%, $lightness: +21%); // #676d8a
$color_gray_three: 			adjust-color($gray_base, $saturation: -13%, $lightness: +50%); // #b6bbcf
$color_gray_four: 			adjust-color($gray_base, $saturation: -14%, $lightness: +63%); // #dee0e9
$color_gray_five: 			adjust-color($gray_base, $saturation: -12%, $lightness: +69%); // #f0f1f5
$color_sortable_background: #f7f7f7;


$border_color:				$color_gray_four;
$label_color:				$color_gray_two;
$border_color_input: 		darken($border_color, 10%);
$input_background_color: 	$color_gray_five;
$flat_background: 			$color_gray_five;
$rounded-color: 			darken($border_color, 10%);


