/**
 * activation.scss
 * Styles applied to elements displayed on activation
 */
/**
 * Imports
 */
/**
 * Variables
 */
/**
 * Grid breakpoints
 *
 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 **/
/**
 * Grid containers
 *
 * Define the maximum width of `.ur-container` for different screen sizes.
 * scss-docs-start container-max-widths
 **/
/**
 * Styling begins
 */
.user-registration-message {
  overflow: hidden;
  position: relative;
  border-left-color: #2ea2cc !important; }
  .user-registration-message.error {
    border-left-color: #ff4149 !important; }
    .user-registration-message.error p {
      max-width: 1000px; }
  .user-registration-message a.button-primary,
  .user-registration-message a.button-secondary {
    text-decoration: none !important; }
  .user-registration-message a.user-registration-message-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px 10px 21px;
    font-size: 13px;
    line-height: 1.23076923;
    text-decoration: none; }
    .user-registration-message a.user-registration-message-close:before {
      position: absolute;
      top: 8px;
      left: 0;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out; }
