/**
 * MetaBox styling begins.
 */
#normal-sortables {
	.postbox {
		.postbox-header {
			border: none;
			h2,
			h3 {
				font-size: 17px;
				font-weight: bold;
			}
		}
	}
}
#advanced-sortables {
	.postbox {
		.postbox-header {
			border: none;
			h2,
			h3 {
				font-size: 17px;
				font-weight: bold;
			}
		}
	}
}
.select2-container {
	width: 100% !important;
	.select2-selection--multiple {
		border-color: #dee0e9 !important;
	}
}
.meta-box-sortables {
	select,
	input[type="text"],
	input[type="email"] {
		width: 100%;
	}
	select,
	input {
		border-color: #dee0e9;
	}
}
p.description {
	color: grey;
	font-style: italic;
	font-size: 12px;
}
.ur-metabox-field-row {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
	color: #1d2327;
	.ur-metabox-field-label {
		width: 30%;
		label {
			font-weight: 600;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.ur-metabox-field-detail {
		width: 70%;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

/**
 * MetaBox styling ends.
 */
