#user-registration-review-notice {

	&.user-registration-review-notice {
		padding: 15px 15px 15px 0;
		background-color: #fff;
	}

	.notice-dismiss{

		&:before{
			display: none;
		}
	}

	.user-registration-review-thumbnail {
		float: left;
		text-align: center;
		margin: 5px 20px;

		img {
			border-radius: 5px;
			vertical-align: middle;
		}
	}

	.user-registration-review-text {
		overflow: hidden;

		h3 {
			font-size: 20px;
			margin: 0 0 5px;
			line-height: 1.3;
		}

		p {
			font-size: 13px;
		}
	}

	.user-registration-review-ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 10px;

			a {
				display: inline-block;
				text-decoration: none;
				position: relative;

				span {
					margin-right: 5px;
				}
			}
		}
	}
}
