@import "variables/variables";
@import "mixins/mixins";


// User Registration Global Settings CSS
body {
	@media screen and (max-width: 782px) {
		min-width: 600px;
	}
}

#wpcontent {
	padding-left: 0;

	@media screen and (max-width: 782px) {
		padding-left: 0 !important;
	}

	.wrap {
		margin: 0;
		padding: $spacing_24px;

		.user-registration-header {
			margin: 0;
		}
	}
}

.user-registration-settings {
	display: flex;
	flex-direction: row;
	background: $grey-0;
	filter: drop-shadow(-4px 4px 20px rgba(89, 89, 89, 0.1));

	.user-registration-header {
		flex: 0 0 25%;
		padding: $spacing_24px 0 0;
		background: #fafafc;
		border-right: $border_width solid $border-color;

		&--top {
			&-logo {
				text-align: center;
				margin-bottom: $spacing_28px;
	
				img {
					border: $border_width solid $border-color;
					width: 70px;
					border-radius: 50%;
				}
			}

			.ur-search--top-settings {
				padding-left: $spacing_12px;
				padding-right: $spacing_12px;
				position: relative;
				margin-bottom: $spacing_24px;

				input {
					width: 100%;
					height: 38px;
					padding: $spacing_8px $spacing_40px $spacing_8px $spacing_12px;
					color: $grey-400;

					&::placeholder {
						color: $grey-100;
						font-weight: $regular;
					}
				}

				.user-registration-search-icon {
					position: absolute;
					top: 11px;
					right: $spacing_26px;

					svg {
						width: 18px;
						height: 18px;
					}
				}				
			}

			.ur-search--top-toggle {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-left: $spacing_12px;
				padding-right: $spacing_12px;
				margin-bottom: $spacing_20px;

				label {
					font-weight: $semi_bold;
					font-size: 14px;
					line-height: 150%;
					color: $grey-400;
				}

				.user-registration-toggle-form {
					width: 32px;
					height: 16px;

					input {
						width: 32px;
						height: 16px;

						&:focus {
							outline: none;
							box-shadow: none;
						}
					}

					.slider {
						&::before {
							width: 12px;
							height: 12px;
							left: 2px;
							bottom: 2px;
						}
					}
				}
			}
		}		
		
		.ur-nav-tab-wrapper {
			display: flex;
			flex-direction: column;
			margin: 0;
			overflow: unset;

			.ur-nav__link {
				font-weight: $regular;
				font-size: 14px;
				line-height: 150%;
				color: $grey-400;
				padding: $spacing_14px $spacing_16px $spacing_14px $spacing_22px;
				background: transparent;
				border: 0;
				border-top: $border_width solid $border-color;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-right: $spacing_14px;

				&:focus {
					box-shadow: none;
					outline: none;
				}

				&::before {
					content: "";
					background: $primary_color;
					width: 4px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					transition: all .3s ease-in-out;
				}

				&::after {
					content: "";
					background: $grey-0;
					width: 8px;
					height: 100%;
					position: absolute;
					top: 0;
					right: -4px;
					opacity: 0;
					transition: all .3s ease-in-out;
				}

				svg {
					width: 18px;
					height: 18px;

					path {
						color: $grey-400;
					}
				}

				&:hover,
				&.is-active {
					background: $grey-0;
					border-radius: 0;
					color: $primary_color;

					&::before {
						opacity: 1;
					}

					svg {
						path {
							stroke: $primary_color;
						}
					}
				}				

				&.is-active {
					&::after {
						opacity: 1;
					}					
				}				

				&:last-child {
					border-bottom: $border_width solid $border-color;
				}
			}
		}
	}

	.user-registration-settings-container {
		flex: auto;
		display: flex;
		flex-direction: column;
		padding: $spacing_24px;
		padding-top: 0;

		.user-registration-options-header {
			position: sticky;
			position: -webkit-sticky;
			top: $spacing_32px;
			top: var(--wp-admin--admin-bar--height, $spacing_32px);
			z-index: 1;
			background: $grey-0;
			padding-top: $spacing_24px;

			&--top {
				display: flex;
				align-items: center;
				justify-content: space-between;

				h3 {
					margin: 0;
					font-weight: $semi_bold;
					font-size: 26px;
					line-height: 120%;
					color: $grey-800;
				}

				p.submit {
					margin-top: 0;
				}				
			}			

			&--bottom {
				margin-top: $spacing_40px;

				ul {
					display: flex;
					align-items: center;
					gap: $spacing_32px;
					padding-bottom: $spacing_13px;
					border-bottom: $border_width solid $border-color;
					width: 100%;
					margin: 0 0 $spacing_36px;
	
					li {
						a {
							font-weight: $regular;
							font-size: 15px;
							line-height: 140%;
							color: $grey-600;
							padding: 0;
							position: relative;
							padding-bottom: $spacing_16px;
							transition: all .3s ease-in-out;
	
							&::before {
								content: "";
								background: $primary_color;
								position: absolute;
								width: 100%;
								height: 3px;
								border-radius: $border_radius_11;
								bottom: 0;
								left: 0;
								opacity: 0;
								transition: all .3s ease-in-out;
							}
	
							&:focus {
								outline: none;
								box-shadow: none;
							}
							
							&.current {
								font-weight: $semi_bold;
							}
	
							&:hover,
							&.current {
								color: $primary_color;
	
								&::before {
									opacity: 1;
								}
							}
						}
					}
				}
			}			
		}

		.user-registration-options-container {
			// General Settings
			.user-registration-card {
				padding: $spacing_16px $spacing_20px $spacing_22px;
				background: #fafafc;
				border: $border_width solid #edeff7 !important;
				border-radius: $border_radius_7;
				margin-top: 0 !important;
				margin-bottom: $spacing_24px;
				max-width: 640px;
				position: relative;

				&:last-child {
					margin-bottom: 0;
				}

				&.pro-options {
					opacity: .4;

					&::after {
						content: "+";
						background-repeat: no-repeat;
						background-size: 100%;
						background-position: center;
						position: absolute;
						width: 24px;
						height: 24px;
						top: $spacing_16px;
						right: $spacing_16px;
					}
				}

				&__header {
					margin-bottom: $spacing_24px;
					padding: 0 0 $spacing_16px;
					border-bottom: $border_width solid $grey-50 !important;
				}

				&__body {
					padding-left: 0;
					padding-right: 0;

					// Emails Settings
					table {
						&.form-table {
							.ur_emails_wrapper {
								padding: 0;
							}
						}

						&.ur_emails {
							border-radius: $border_radius_5;
							overflow: hidden;
							border-color: $border-color;

							thead {
								th {
									padding: 12px 16px;
									background: $primary_color;
									color: $grey-0;
									font-weight: $semi_bold;
									font-size: 14px;
									line-height: 150%;
									border: $border_width solid $border-color;
									border-top: 0;
									border-bottom: 0;
									border-left: 0;

									&:first-child {
										width: 60%;
									}

									&:nth-child(2),
									&:last-child {
										width: 20%;
										text-align: center;
									}

									&:last-child {
										border-right: 0;
									}
								}
							}

							tbody {
								tr {
									&:nth-child(even) {
										background: #f8f8fa;
									}

									.ur-email-settings-table {
										&:nth-child(2),
										&:last-child {
											text-align: center;
										}

										a {
											font-weight: $regular;
											font-size: 14px;
											line-height: 150%;
											color: $primary_color;
										}

										> label {
											padding: $spacing_5px $spacing_8px;
											background: #4CC741;
											border-radius: 100px;
											font-weight: $regular !important;
											font-size: 12px;
											line-height: 150%;
											color: $grey-0 !important;

											&:has(.ur-toggle-section) {
												padding: 0;
												background: transparent;
												border-radius: 0px;
											}
										}
									}
								}
							}
						}
					}
				}

				p.ur-p-tag {
					padding: $spacing_10px $spacing_12px $spacing_10px $spacing_16px;
					background: $grey-0;
					border-left: 3px solid #17a2b8;
					font-weight: $regular;
					color: $grey-300;
					
					strong {
						font-weight: $semi_bold;
					}
				}
			}

			// Import/Export Settings
			.ur-settings-section-header {
				margin: 0;
			}

			.ur-export-users-page {
				margin-top: 0;

				.nav-tab-inside {
					.postbox {
						width: auto;
						max-width: 640px;
						padding: $spacing_16px $spacing_20px $spacing_22px;
						background: #fafafc;
						border: $border_width solid $blue-50;
						border-radius: $border_radius_9 $border_radius_9 0 0;

						.hndle {
							font-weight: 600;
							font-size: 16px;
							line-height: 150%;
							color: $grey-500;
							margin: 0;
							padding-bottom: $spacing_16px;
							margin-bottom: $spacing_28px;
							border-color: $grey-50;
						}

						.inside {
							margin: 0;
							padding: 0;

							p {
								margin: 0;
								margin-bottom: $spacing_28px;

								&.help {
									margin-bottom: $spacing_12px;
									font-weight: $regular;
									font-size: 14px;
									line-height: 150%;
									color: $grey-400;
								}

								.forms-list {
									height: 38px;
									padding-left: $spacing_12px;
								}
							}
						}
					}
				}
			}
		}

		p.submit {
			margin: $spacing_32px 0 0 0;
			padding: 0;

			.button-primary {
				transition: all .3s ease-in-out;
			}
		}		
	}
}
