#user-registration-review-notice, #user-registration-survey-notice {
  border-left-color: #475bb2;
}

#user-registration-upgrade-notice strong {
  font-weight: 700;
}

.user-registration-notice {
  display: flex;
  gap: 30px;
  padding: 24px;
  background: #ffffff;
  margin: 15px;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  border-left-width: 4px;
  border-left-color: #475bb2;
}
.user-registration-notice .notice-dismiss {
  margin-left: 2px;
}
.user-registration-notice .notice-dismiss:before {
  display: none;
}
.user-registration-notice.is-dismissible .notice-dismiss::before {
  display: block;
}
.user-registration-notice .user-registration-notice-thumbnail {
  margin: 0;
  max-width: 80px;
  width: 100%;
  position: relative;
}
.user-registration-notice .user-registration-notice-thumbnail img {
  border-radius: 5px;
  vertical-align: middle;
  width: 100%;
}
.user-registration-notice .user-registration-notice-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
}
.user-registration-notice .user-registration-notice-text .user-registration-notice-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.user-registration-notice .user-registration-notice-text .user-registration-notice-header h3 {
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.user-registration-notice .user-registration-notice-text .user-registration-notice-header .close-btn {
  font-size: 30px;
  color: darkgray;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 24px;
  right: 36px;
  padding: 0;
  margin: 0;
}
.user-registration-notice .user-registration-notice-text .ur-error {
  color: #d63638;
}
.user-registration-notice .user-registration-notice-text p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.user-registration-notice .extra-pad {
  padding-bottom: 20px;
}
.user-registration-notice .user-registration-notice-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.user-registration-notice .user-registration-notice-links a {
  position: relative;
  text-decoration: none;
}
.user-registration-notice .user-registration-notice-links .user-registration-notice-ul {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
}
.user-registration-notice .user-registration-notice-links .user-registration-notice-ul li {
  display: inline-block;
  margin: 0px;
}
.user-registration-notice .user-registration-notice-links .user-registration-notice-ul li a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  position: relative;
}
.user-registration-notice .user-registration-notice-links .user-registration-notice-ul li a span {
  margin: 0;
}
.user-registration-notice .user-registration-notice-links .user-registration-notice-ul .button-primary {
  background: #475bb2;
  border-color: #475bb2;
}
.user-registration-notice .user-registration-notice-links .user-registration-notice-ul .button-primary:focus, .user-registration-notice .user-registration-notice-links .user-registration-notice-ul .button-primary:hover {
  background: #2e44a1;
  border-color: #2e44a1;
  color: #ffffff;
}
.user-registration-notice .user-registration-notice-links .user-registration-notice-ul .button-secondary {
  border-color: #475bb2;
  color: #475bb2;
  box-shadow: none;
}
.user-registration-notice .user-registration-notice-links .user-registration-notice-ul .button-secondary:focus, .user-registration-notice .user-registration-notice-links .user-registration-notice-ul .button-secondary:hover {
  background: #2e44a1;
  border-color: #2e44a1;
  color: #ffffff;
}
.user-registration-notice #user-registration-notice .user-registration-notice-ul li a span {
  padding: 4px 0px;
}
.user-registration-notice .user-registration-notice-text span.dashicons.dashicons-smiley.smile-icon {
  background: #f7e143;
  border-radius: 50%;
  font-size: 15px;
  border: 1px solid;
  width: 17px;
  height: 17px;
}

#ur-field-all-settings .user-registration-notice {
  padding: 10px;
  gap: 5px;
}