/**
 * Variables
 */
/**
 * Grid breakpoints
 *
 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 **/
/**
 * Grid containers
 *
 * Define the maximum width of `.ur-container` for different screen sizes.
 * scss-docs-start container-max-widths
 **/
.user-registration-content-restriction *,
.user-registration-content-restriction ::before,
.user-registration-content-restriction ::after {
  box-sizing: border-box;
}

.urcr-label-checkbox-pair {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.urcr-label-checkbox-pair .urcr-label {
  padding-bottom: 3px;
}
.urcr-label-checkbox-pair .urcr-input {
  margin-left: 8px;
}

.urcr-hw {
  width: 50%;
}

.urcr-content-access-rule-creator-form {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
  padding: 0 24px;
}
.urcr-content-access-rule-creator-form .urcr-arc-buttons-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.urcr-settings-widget {
  border-style: dashed;
  margin-bottom: 10px;
}
.urcr-settings-widget .urcr-settings-widget-header {
  cursor: pointer;
}
.urcr-settings-widget .urcr-settings-widget-header .handlediv {
  height: auto;
  width: auto;
}
.urcr-settings-widget .inside {
  margin: 0;
}
.urcr-settings-widget .user-registration-help-tip {
  top: 3px;
}
.urcr-settings-widget .user-registration-help-tip::after {
  width: 16px !important;
}

.nav-tab-wrapper {
  max-width: 600px;
  margin: 0 auto 28px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}
.nav-tab-wrapper .urcr-tab {
  width: 200px;
  margin: 0;
  color: #383838;
  text-transform: uppercase;
  border: 0;
  background: none;
  padding: 10px 20px 16px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.nav-tab-wrapper .urcr-tab:focus {
  outline: none;
  box-shadow: none;
}
.nav-tab-wrapper .urcr-tab:before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #475bb2;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.nav-tab-wrapper .urcr-tab.nav-tab-active, .nav-tab-wrapper .urcr-tab:hover {
  color: #475bb2;
}
.nav-tab-wrapper .urcr-tab.nav-tab-active::before {
  opacity: 1;
}
.nav-tab-wrapper .urcr-tab:first-child {
  margin-right: 0;
}

.urcr-tab-contents-wrapper .urcr-tab-content #dashboard-widgets {
  padding: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content #dashboard-widgets-wrap {
  margin: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content #dashboard-widgets .urcr-conditional-logic-map-container {
  margin: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content #dashboard-widgets .meta-box-sortables {
  margin: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget {
  padding: 24px 28px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 13px;
  margin-bottom: 20px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget:last-child {
  margin-bottom: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header {
  padding: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .urcr-widget-header-label {
  line-height: 140%;
  color: #222;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .user-registration-button-group {
  display: flex;
  align-items: center;
  margin-right: 12px !important;
  background: #F0F0F1;
  border-radius: 50px;
  padding: 3px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .user-registration-button-group .urbg-item {
  background: transparent;
  border: 1px solid transparent;
  padding: 0 14px;
  border-radius: 50px;
  min-height: 30px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .user-registration-button-group .urbg-item.is-active[data-value=OR] {
  color: #3779ff;
  background: #fff;
  border-color: #3779ff;
  box-shadow: 0px 1px 3px rgba(71, 91, 178, 0.12), 0px 1px 2px rgba(71, 91, 178, 0.24);
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .user-registration-button-group .urbg-item.is-active[data-value=AND] {
  color: #ffa225;
  background: #fff;
  border-color: #ffa225;
  box-shadow: 0px 1px 3px rgba(171, 126, 65, 0.12), 0px 1px 2px rgba(174, 131, 74, 0.24);
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .user-registration-button-group .urbg-item.is-active[data-value=NOT] {
  color: #FF7474;
  background: #fff;
  border-color: #FF7474;
  box-shadow: 0px 1px 3px rgba(180, 73, 73, 0.12), 0px 1px 2px rgba(176, 70, 70, 0.24);
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .ur-d-flex {
  align-items: center;
  gap: 12px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .ur-d-flex .urcr-add-new-target-contents:hover {
  background: transparent;
  border-color: #475bb2;
  color: #383838;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .urcr-add-new-conditional-logic-field,
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .urcr-add-new-conditional-logic-group {
  margin: 0 !important;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .urcr-add-new-conditional-logic-field:hover,
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .urcr-add-new-conditional-logic-group:hover {
  background: transparent;
  border-color: #475bb2;
  color: #383838;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .urcr-add-new-conditional-logic-field {
  width: 103px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .handlediv {
  box-shadow: none;
  background: #ffffff;
  border: 1px solid #475bb2;
  border-radius: 4px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .handlediv .toggle-indicator {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget-header .hndle .handlediv .toggle-indicator::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23737373' viewBox='0 0 24 24'%3E%3Cpath d='M19.561 7.403a1.468 1.468 0 0 1 2.02 0 1.339 1.339 0 0 1 0 1.944l-8.57 8.25a1.468 1.468 0 0 1-2.021 0l-8.572-8.25a1.339 1.339 0 0 1 0-1.944 1.468 1.468 0 0 1 2.02 0L12 14.68l7.561-7.278Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(-180deg);
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside {
  margin-top: 16px;
  padding-top: 20px !important;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-warning {
  background: #fffbed;
  border-right-width: 4px;
  border-radius: 4px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions {
  position: relative;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions:has(.urcr-logic-group-rule-OR), .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions:has(.urcr-logic-group-rule-AND), .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions:has(.urcr-logic-group-rule-NOT) {
  padding-right: 42px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-OR {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  background: #89A7E5;
  width: 2px;
  height: 100%;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-OR::before, .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-OR::after {
  content: "";
  position: absolute;
  right: 0;
  width: 22px;
  height: 2px;
  background: #89A7E5;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-OR::before {
  top: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-OR::after {
  bottom: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-AND {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  background: #F9E2CA;
  width: 2px;
  height: 100%;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-AND::before, .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-AND::after {
  content: "";
  position: absolute;
  right: 0;
  width: 22px;
  height: 2px;
  background: #F9E2CA;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-AND::before {
  top: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-AND::after {
  bottom: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-NOT {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  background: #F9CACA;
  width: 2px;
  height: 100%;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-NOT::before, .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-NOT::after {
  content: "";
  position: absolute;
  right: 0;
  width: 22px;
  height: 2px;
  background: #F9CACA;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-NOT::before {
  top: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-logic-group-rule-NOT::after {
  bottom: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #383838;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container:has(.urcr-form-fields-wrapper) {
  flex-direction: column;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container > select {
  width: 150px;
  margin-left: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container > input[type=number] {
  width: 160px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item {
  background: transparent;
  padding: 6px 8px 6px 10px;
  border-color: #e1e1e1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  color: #383838;
  font-weight: 400;
  position: relative;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item:focus {
  outline: none;
  box-shadow: none;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item:focus-visible {
  outline: none;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item::before, .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item::after {
  content: "";
  background: #e1e1e1;
  border-radius: 50%;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item::before {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item::after {
  display: block;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #e1e1e1;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item.is-active {
  border-color: #475bb2;
  color: #475bb2;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item.is-active::before {
  opacity: 1;
  background: #475bb2;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-label-input-pair .urcr-input-container .user-registration-button-group .urbg-item.is-active::after {
  border-color: #475bb2;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-sub-logic-group-rule-OR,
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-sub-logic-group-rule-AND,
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-sub-logic-group-rule-NOT {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 4px 10px;
  border-radius: 50px;
  color: #383838;
  font-size: 13px;
  line-height: 120%;
  font-weight: 600;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-sub-logic-group-rule-OR {
  background: #E9F0FE;
  right: -17px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-sub-logic-group-rule-AND {
  background: #FED9A8;
  right: -21px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-conditional-logic-definitions .urcr-sub-logic-group-rule-NOT {
  background: #F9CACA;
  right: -21px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group {
  margin-bottom: 28px;
  flex-wrap: nowrap;
  align-items: center;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.urcr-form-fields-wrapper), .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.urcr-notice), .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.urcrra-shortcode-input), .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.wp-editor-wrap) {
  align-items: flex-start !important;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.urcr-form-fields-wrapper) .urcr-label-container, .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.urcr-notice) .urcr-label-container, .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.urcrra-shortcode-input) .urcr-label-container, .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.wp-editor-wrap) .urcr-label-container {
  margin-top: 6px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group:has(.urcrra-shortcode-input) .select2-container {
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group {
    flex-direction: column;
    align-items: unset !important;
    gap: 16px;
  }
  .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-label-container {
    max-width: 100%;
    flex: unset;
  }
  .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .ur-row {
    max-width: 100%;
    flex: unset;
  }
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-label-container {
  position: relative;
  vertical-align: top;
  line-height: 24px;
  font-weight: 500;
  color: #383838;
  font-size: 14px;
  flex: 0 0 38%;
  margin-bottom: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper {
  padding: 16px;
  background: #f4f4f4;
  margin-top: 6px;
  border-radius: 4px;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  background: transparent;
  border: 1px solid #e1e1e1;
  display: none;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper:has(.ur_form_fields_row) {
  display: flex;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: column;
}
@media (min-width: 601px) {
  .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row {
    flex-direction: row;
  }
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row select.urcr_form_field_name,
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row input.urcr_form_field_name {
  width: 100%;
}
@media (min-width: 601px) {
  .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row select.urcr_form_field_name,
  .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row input.urcr_form_field_name {
    width: 160px;
  }
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row select.urcr_form_field_logic,
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row input.urcr_form_field_logic {
  width: 100%;
}
@media (min-width: 601px) {
  .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row select.urcr_form_field_logic,
  .urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row input.urcr_form_field_logic {
    width: 130px;
  }
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row select.urcr_form_field_value,
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row input.urcr_form_field_value {
  flex: 1;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row a {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row a svg {
  width: 16px;
  height: 16px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .ur-form-group .urcr-form-fields-wrapper .ur_form_fields_row a:hover {
  border-color: #e3e3e3;
  background: #e3e3e3;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-notice {
  margin-top: 16px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-notice.urcr-notice-warning {
  padding: 14px 20px;
  background: #fffbed;
  border: 0;
  border-right: 4px solid #FFC700;
  box-shadow: none;
  border-radius: 4px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .inside .urcr-notice.urcr-notice-warning p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #383838;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .urcr-trash {
  width: 34px;
  height: 34px;
  background: #F4F4F4;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin-right: 0;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .urcr-trash span {
  color: #949494;
  position: relative;
  right: 1px;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .urcr-trash:hover {
  background: #FFF4F4;
  border-color: #F25656;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget .urcr-trash:hover span {
  color: #F25656;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget.closed .handlediv {
  border-color: #e1e1e1;
}
.urcr-tab-contents-wrapper .urcr-tab-content .urcr-settings-widget.closed .handlediv .toggle-indicator::before {
  transform: translate(50%, -50%) rotate(0deg);
}

#urcr-enable-time-limit {
  margin-top: 15px;
}

#tiptip_holder {
  top: -35px !important;
}

.urcrra-redirect-input-container .urcr-input {
  width: 100%;
  margin-bottom: 10px;
}

.urcrra-shortcode-args {
  margin-top: 5px;
}

.urcr-notice {
  background: #fff;
  border: 1px solid #ccd0d4;
  border-right-color: rgb(204, 208, 212);
  border-right-width: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 1px 12px;
}
.urcr-notice.urcr-notice-warning {
  border-right-color: #ffb900;
}

.urcr-puncher {
  flex-grow: 1;
}

.urcr-enable-access-rule-container {
  margin-bottom: 25px;
  user-select: none;
}
.urcr-enable-access-rule-container .urcr-enable-access-rule-switch {
  margin-left: 10px;
}
.urcr-enable-access-rule-container .urcr-enable-access-rule-label {
  font-weight: bold;
}

p.urcr-conditional-logic-warning {
  padding: 14px 20px;
  background: #fefce8;
  border: 0;
  border-right: 3px solid #ffc700;
  box-shadow: none;
}

input[type=checkbox].urcr-enable-access-rule {
  display: none;
  background: rgb(102.6654179104, 109.1689023066, 138.4345820896);
  width: 28px;
  height: 18px;
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  flex: 0 0 28px;
  margin: 0;
  position: relative;
  border: 2px solid rgb(102.6654179104, 109.1689023066, 138.4345820896);
  transition: 0.1s transform ease;
  box-sizing: border-box;
}
input[type=checkbox].urcr-enable-access-rule::before {
  content: none;
}
input[type=checkbox].urcr-enable-access-rule::after {
  display: inline-block;
  content: "";
  height: 14px;
  width: 14px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  transition: 0.1s transform ease;
}
input[type=checkbox].urcr-enable-access-rule:checked {
  background: #4CC741;
  border-color: #4CC741;
}
input[type=checkbox].urcr-enable-access-rule:checked::after {
  transform: translateX(-10px);
}

body.user-registration .wrap.user-registration-content-restriction {
  margin: 0;
}
body.user-registration .wrap.user-registration-content-restriction .user-registration-header {
  margin: 0 !important;
}