@import './variables/variables';
// Abstract: For label and checkbox paired field.

$or-color: #3779ff;
$and-color: #ffa225;
$not-color: #FF7474;
$or-line: #89A7E5;
$and-line: #F9E2CA;
$not-line: #F9CACA;
$or-tag: #E9F0FE;
$and-tag: #FED9A8;
$not-tag: #F9CACA;

.user-registration-content-restriction {
	*,
	::before,
	::after {
		box-sizing: border-box;
	}
}

.urcr-label-checkbox-pair {
	display: flex;
	align-items: center;
	padding: 5px 0;

	.urcr-label {
		padding-bottom: 3px;
	}
	.urcr-input {
		margin-right: 8px;
	}
}

// Abstract: Half or 50% width.
.urcr-hw {
	width: 50%;
}


.urcr-content-access-rule-creator-form {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: $spacing_24px;
	padding: 0 $spacing_24px;

	.urcr-arc-buttons-container {
		display: flex;
		align-items: center;
		gap: $spacing_12px;
	}
}


// Fix CSS: For WP widget UI used for URCR settings.
.urcr-settings-widget {
	border-style: dashed;
	margin-bottom: 10px;

	.urcr-settings-widget-header {
		cursor: pointer;

		.handlediv {
			height: auto;
			width: auto;
		}
	}

	.inside {
		margin: 0;
	}
	.user-registration-help-tip {
		top: 3px;

		&::after {
			width: 16px !important;
		}
	}
}

// Fix CSS: For the rule creator tabs.

.nav-tab-wrapper {
	max-width: 600px;
	margin: 0 auto $spacing_28px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: $border_width solid $border-color;

	.urcr-tab {
		width: 200px;
		margin: 0;
		color: $grey-400;
		text-transform: uppercase;
		border: 0;
		background: none;
		padding: $spacing_10px $spacing_20px $spacing_16px;
		cursor: pointer;
		position: relative;
		text-align: center;

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $primary_color;
			transition: all 0.3s ease-in-out;
			opacity: 0;
		}

		&.nav-tab-active,
		&:hover {
			color: $primary_color;
		}

		&.nav-tab-active::before {
			opacity: 1;
		}

		&:first-child {
			margin-left: 0;
		}
	}
}

// Conditional Logic Group Section
.urcr-tab-contents-wrapper {
	.urcr-tab-content {
		#dashboard-widgets {
			padding: 0;

			&-wrap {
				margin: 0;
			}

			.urcr-conditional-logic-map-container {
				margin: 0;
			}

			.meta-box-sortables {
				margin: 0;
			}
		}

		.urcr-settings-widget {
			padding: $spacing_24px $spacing_28px;
			background: $white;
			border: $border_width solid $border-color;
			border-radius: $border_radius_13;
			margin-bottom: $spacing_20px;

			&:last-child {
				margin-bottom: 0;
			}

			&-header {
				padding: 0;

				.hndle {
					.urcr-widget-header-label {
						line-height: 140%;
						color: #222;
					}

					.user-registration-button-group {
						display: flex;
						align-items: center;
						margin-left: 12px !important;
						background: #F0F0F1;
						border-radius: 50px;
						padding: 3px;

						.urbg-item {
							background: transparent;
							border: 1px solid transparent;
							padding: 0 14px;
							border-radius: 50px;
							min-height: 30px;

							&.is-active {
								&[data-value="OR"] {
									color: $or-color;
									background: #fff;
									border-color: $or-color;
									box-shadow: 0px 1px 3px rgba(71, 91, 178, 0.12), 0px 1px 2px rgba(71, 91, 178, 0.24);
								}

								&[data-value="AND"] {
									color: $and-color;
									background: #fff;
									border-color: $and-color;
									box-shadow: 0px 1px 3px rgba(171, 126, 65, 0.12), 0px 1px 2px rgba(174, 131, 74, 0.24);
								}

								&[data-value="NOT"] {
									color: $not-color;
									background: #fff;
									border-color: $not-color;
									box-shadow: 0px 1px 3px rgba(180, 73, 73, 0.12), 0px 1px 2px rgba(176, 70, 70, 0.24);
								}
							}
						}
					}

					.ur-d-flex {
						align-items: center;
						gap: $spacing_12px;

						.urcr-add-new-target-contents {
							&:hover {
								background: transparent;
								border-color: $primary_color;
								color: $grey-400;
							}
						}
					}

					.urcr-add-new-conditional-logic-field,
					.urcr-add-new-conditional-logic-group {
						margin: 0 !important;

						&:hover {
							background: transparent;
							border-color: $primary_color;
							color: $grey-400;
						}
					}

					.urcr-add-new-conditional-logic-field {
						width: 103px;
					}

					.handlediv {						
						box-shadow: none;
						background: $white;
						border: $border_width solid $primary_color;
						border-radius: $border_radius_4;

						.toggle-indicator {
							display: block;
							width: 32px;
							height: 32px;
							position: relative;

							&::before {
								content: "";
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23737373' viewBox='0 0 24 24'%3E%3Cpath d='M19.561 7.403a1.468 1.468 0 0 1 2.02 0 1.339 1.339 0 0 1 0 1.944l-8.57 8.25a1.468 1.468 0 0 1-2.021 0l-8.572-8.25a1.339 1.339 0 0 1 0-1.944 1.468 1.468 0 0 1 2.02 0L12 14.68l7.561-7.278Z'/%3E%3C/svg%3E");
								background-repeat: no-repeat;
								background-size: 100%;
								background-position: center;
								width: 14px;
								height: 14px;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%) rotate(180deg);
							}
						}
					}
				}
			}

			.inside {
				margin-top: $spacing_16px;
				padding-top: $spacing_20px !important;
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;

				.urcr-conditional-logic-warning {
					// background: #f7f7f7;
					background: #fffbed;
					border-left-width: 4px;
					border-radius: $border_radius_4;
				}

				.urcr-conditional-logic-definitions {
					position: relative;

					&:has(.urcr-logic-group-rule-OR),
					&:has(.urcr-logic-group-rule-AND),
					&:has(.urcr-logic-group-rule-NOT) {
						padding-left: 42px;
					}

					.urcr-logic-group-rule-OR {
						content: "";
						position: absolute;
						top: 0;
						left: 5px;
						background: $or-line;
						width: 2px;
						height: 100%;

						&::before,
						&::after {
							content: "";
							position: absolute;
							left: 0;
							width: 22px;
							height: 2px;
							background: $or-line;
						}

						&::before {
							top: 0;
						}

						&::after {
							bottom: 0;
						}
					}

					.urcr-logic-group-rule-AND {
						content: "";
						position: absolute;
						top: 0;
						left: 5px;
						background: $and-line;
						width: 2px;
						height: 100%;

						&::before,
						&::after {
							content: "";
							position: absolute;
							left: 0;
							width: 22px;
							height: 2px;
							background: $and-line;
						}

						&::before {
							top: 0;
						}

						&::after {
							bottom: 0;
						}
					}

					.urcr-logic-group-rule-NOT {
						content: "";
						position: absolute;
						top: 0;
						left: 5px;
						background: $not-line;
						width: 2px;
						height: 100%;

						&::before,
						&::after {
							content: "";
							position: absolute;
							left: 0;
							width: 22px;
							height: 2px;
							background: $not-line;
						}

						&::before {
							top: 0;
						}

						&::after {
							bottom: 0;
						}
					}					

					.urcr-label-input-pair {
						.urcr-input-container {
							display: flex;
							align-items: center;
							gap: $spacing_16px;
							font-size: 14px;
							line-height: 24px;
							color: $grey-400;

							&:has(.urcr-form-fields-wrapper) {
								flex-direction: column;
							}

							> select {
								width: 150px;
								margin-right: 0;
							}

							> input[type="number"] {
								width: 160px;
							}							

							.user-registration-button-group {
								display: flex;
								align-items: center;
								gap: 10px;

								.urbg-item {
									background: transparent;
									padding: 6px 10px 6px 8px;
									border-color: $border-color;
									display: flex;
									flex-direction: row-reverse;
									align-items: center;
									gap: 8px;
									color: $grey-400;
									font-weight: $regular;
									position: relative;

									&:focus {
										outline: none;
										box-shadow: none;
									}

									&:focus-visible {
										outline: none;
									}

									&::before,
									&::after {
										content: "";
										background: #e1e1e1;
										border-radius: 50%;
									}

									&::before {
										position: absolute;
										top: 50%;
										left: 12px;
										transform: translateY(-50%);
										width: 8px;
										height: 8px;
										opacity: 0;
										transition: all .3s ease-in-out;
									}

									&::after {
										display: block;
										width: 16px;
										height: 16px;
										background: transparent;
										border: $border_width solid $border-color;
									}

									&.is-active {
										border-color: $primary_color;
										color: $primary_color;

										&::before {
											opacity: 1;
											background: $primary_color;
										}

										&::after {
											border-color: $primary_color;
										}
									}
								}
							}
						}
					}

					.urcr-sub-logic-group-rule-OR,
					.urcr-sub-logic-group-rule-AND,
					.urcr-sub-logic-group-rule-NOT {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						padding: 4px 10px;
						border-radius: 50px;
						color: #383838;
						font-size: 13px;
						line-height: 120%;
						font-weight: 600;
					}

					.urcr-sub-logic-group-rule-OR {
						background: $or-tag;
						left: -17px;
					}

					.urcr-sub-logic-group-rule-AND {
						background: $and-tag;
						left: -21px;
					}

					.urcr-sub-logic-group-rule-NOT {
						background: $not-tag;
						left: -21px;
					}
				}

				.ur-form-group {
					margin-bottom: $spacing_28px;
					flex-wrap: nowrap;
					align-items: center;

					&:has(.urcr-form-fields-wrapper),
					&:has(.urcr-notice),
					&:has(.urcrra-shortcode-input),
					&:has(.wp-editor-wrap) {
						align-items: flex-start !important;

						.urcr-label-container {
							margin-top: $spacing_6px;
						}
					}

					&:has(.urcrra-shortcode-input) {
						.select2-container {
							margin-bottom: $spacing_16px;
						}
					}

					@media (max-width: 991px) {
						flex-direction: column;
						align-items: unset !important;
						gap: 16px;

						.urcr-label-container {
							max-width: 100%;
							flex: unset;
						}

						.ur-row {
							max-width: 100%;
							flex: unset;
						}
					}

					.urcr-label-container {
						position: relative;
						vertical-align: top;
						line-height: 24px;
						font-weight: 500;
						color: $grey-400;
						font-size: 14px;
						flex: 0 0 38%;
						margin-bottom: 0;						
					}

					.urcr-form-fields-wrapper {
						padding: 16px;
						background: #f4f4f4;
						margin-top: $spacing_6px;
						border-radius: 4px;
						flex-direction: column;
						gap: $spacing_12px;
						width: 100%;
						background: transparent;
						border: $border_width solid $border-color;
						display: none;

						&:has(.ur_form_fields_row) {
							display: flex;
						}

						.ur_form_fields_row {
							display: flex;
							align-items: center;
							gap: $spacing_12px;
							flex-direction: column;

							@media (min-width: 601px) {
								flex-direction: row;
							}

							select,
							input {
								&.urcr_form_field_name {
									width: 100%;

									@media (min-width: 601px) {
										width: 160px;
									}
								}

								&.urcr_form_field_logic {
									width: 100%;

									@media (min-width: 601px) {
										width: 130px;
									}
								}

								&.urcr_form_field_value {
									flex: 1;
								}
							}

							a {
								padding: 8px;
								display: flex;
								align-items: center;
								justify-content: center;
								background: #fff;
								border-radius: 4px;
								font-size: 18px;
								line-height: 28px;
								cursor: pointer;
								border: 1px solid #e1e1e1;
								transition: all .3s ease-in-out;

								svg {
									width: 16px;
									height: 16px;
								}

								&:hover {
									border-color: #e3e3e3;
									background: #e3e3e3;
								}
							}
						}
					}												
				}

				// .select2-container {
				// 	.select2-selection {
				// 		// &__rendered {
				// 		// 	padding-left: 0;
				// 		// 	gap: 6px;
				// 		// 	flex-wrap: wrap;
				// 		// }

				// 		// &__choice {
				// 		// 	margin-left: 0;
				// 		// 	margin-right: 0;
				// 		// 	padding: 4px 10px;
				// 		// 	background: #E9E9E9;
				// 		// 	border-radius: 3px;
				// 		// 	border-color: #e9e9e9;
				// 		// 	flex-direction: row-reverse;
				// 		// 	gap: 6px;
				// 		// 	padding-right: 6px;

				// 		// 	&__remove {
				// 		// 		font-size: 18px;
				// 		// 		line-height: 18px;
				// 		// 		position: relative;
				// 		// 		top: -1px;
				// 		// 	}
				// 		// }

				// 		// &.select2-selection--single {
				// 		// 	height: 38px;
				// 		// 	border: 1px solid #e1e1e1;

				// 		// 	.select2-selection__rendered {
				// 		// 		padding-left: 10px;
				// 		// 		line-height: 36px;
				// 		// 	}

				// 		// 	.select2-selection__arrow {
				// 		// 		top: 4px;

				// 		// 		b {
				// 		// 			margin-top: -2px;
				// 		// 			margin-left: -8px;
				// 		// 		}
				// 		// 	}
				// 		// }
				// 	}
				// }

				.urcr-notice {
					margin-top: $spacing_16px;

					&.urcr-notice-warning {
						padding: 14px 20px;
						background: #fffbed;
						border: 0;
						border-left: 4px solid #FFC700;
						box-shadow: none;
						border-radius: $border_radius_4;

						p {
							margin: 0;
							font-size: 14px;
							font-weight: 400;
							line-height: 24px;
							color: $grey-400;
						}
					}
				}
			}

			// Trash Button Styling
			.urcr-trash {
				width: 34px;
				height: 34px;
				background: #F4F4F4;
				border: $border_width solid $white;
				border-radius: $border_radius_5;
				box-shadow: none;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all .3s ease-in-out;
				margin-left: 0;

				span {
					color: #949494;
					position: relative;
					left: 1px;
				}

				&:hover {
					background: #FFF4F4;
					border-color: #F25656;

					span {
						color: #F25656;
					}
				}
			}

			// input[type="text"],
			// input[type="email"],
			// input[type="password"],
			// input[type="number"],
			// textarea,
			// select {
			// 	// height: 34px !important;
			// 	// border-color: #E1E1E1;

			// 	&:focus {
			// 		border-color: $primary_color;
			// 		outline: none;
			// 		box-shadow: none;
			// 	}
			// }

			&.closed {
				.handlediv {
					border-color: $border-color;

					.toggle-indicator {
						&::before {
							transform: translate(-50%, -50%) rotate(0deg);
						}
					}
				}
			}
		}
	}
}


// Individual: The 'Enable time limit' option.
#urcr-enable-time-limit {
	margin-top: 15px;
}

// Fix: Tooltip.
#tiptip_holder {
	top: -35px !important;
}

// .urcr-add-new-conditional-logic-field {
// 	width: 105px;
// 	font-size: 12px;
// 	margin-right: 3px;
// 	-webkit-appearance: none !important;
// 	-moz-appearance: none !important;
// 	text-indent: 1px !important;
// 	text-overflow: '' !important;
// 	background: none !important;

// 	&::-ms-expand {
// 		display: none !important;
// 	}
// }

.urcrra-redirect-input-container {
	.urcr-input {
		width: 100%;
		margin-bottom: 10px;
	}
}

.urcrra-shortcode-args {
	margin-top: 5px;
}

.urcr-notice {
	background: #fff;
    border: 1px solid #ccd0d4;
	border-left-color: rgb(204, 208, 212);
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
	padding: 1px 12px;

	&.urcr-notice-warning {
		border-left-color: #ffb900;
	}
}

.urcr-puncher {
	flex-grow: 1;
}

.urcr-enable-access-rule-container {
	margin-bottom: 25px;
	user-select: none;

	.urcr-enable-access-rule-switch {
		margin-right: 10px;
	}
	.urcr-enable-access-rule-label {
		font-weight: bold;
	}
}

p.urcr-conditional-logic-warning {
	padding: 14px 20px;
    background: #fefce8;
    border: 0;
    border-left: 3px solid #ffc700;
    box-shadow: none;
}

input[type="checkbox"] {
	&.urcr-enable-access-rule {
		display: none;

		background: $color_gray_two;
		width: 28px;
		height: 18px;
		border-radius: 10px !important;
		display: flex;
		align-items: center;
		flex: 0 0 28px;
		margin: 0;
		position: relative;
		border: 2px solid $color_gray_two;
		transition: 0.1s transform ease;
		box-sizing: border-box;

		&::before {
			content: none;
		}

		&::after {
			display: inline-block;
			content: "";
			height: 14px;
			width: 14px;
			background: $white;
			border-radius: 50%;
			position: absolute;
			transition: 0.1s transform ease;
		}

		&:checked {
			background: $green;
			border-color: $green;

			&::after {
				transform: translateX(10px);
			}
		}
	}
}

body.user-registration {
	.wrap.user-registration-content-restriction {
		margin: 0;

		.user-registration-header {
			margin: 0 !important;
		}
	}
}