/**
* user-registration.scss
* Governs the general look and feel of User Registration sections of stores using themes that do not
* integrate with User Registration specifically.
*/
/**
* Imports
*/
.ur-registered-item.ui-draggable-dragging {
  padding: 10px 10px;
  line-height: 20px;
  background: #3498DB;
  color: #ffffff;
  text-align: center;
  margin-bottom: 7px;
  word-break: break-word;
  white-space: normal;
  width: 200px !important; }
  .ur-registered-item.ui-draggable-dragging span {
    font-size: 14px;
    line-height: 20px;
    width: auto;
    height: auto;
    margin-right: 3px; }

/**
 * _mixins.scss
 * User Registration Mixins
 */
/**
 * UserRegistration CSS Variables
 */
/**
* Utility classes
*/
.clear {
  clear: both; }

/**
* Main User Registration styles
*/
.user-registration-message,
.user-registration-error,
.user-registration-info {
  padding: 1.5em 2em 1.5em 3.5em;
  margin: 0 0 2em;
  position: relative;
  background-color: #f7f6f7;
  color: #515151;
  border-top: 3px solid #a46497;
  list-style: none outside;
  *zoom: 1;
  width: auto;
  word-wrap: break-word;
  line-height: 1.5;
  text-transform: none;
  font-size: 14px; }
  .user-registration-message::before, .user-registration-message::after,
  .user-registration-error::before,
  .user-registration-error::after,
  .user-registration-info::before,
  .user-registration-info::after {
    content: ' ';
    display: table; }
  .user-registration-message::after,
  .user-registration-error::after,
  .user-registration-info::after {
    clear: both; }
  .user-registration-message::before,
  .user-registration-error::before,
  .user-registration-info::before {
    font-family: 'Dashicons';
    content: '\f348';
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 0.9em;
    font-size: 18px;
    line-height: 1.5; }
  .user-registration-message ul,
  .user-registration-error ul,
  .user-registration-info ul {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important; }
  .user-registration-message .button,
  .user-registration-error .button,
  .user-registration-info .button {
    float: right; }
  .user-registration-message li,
  .user-registration-error li,
  .user-registration-info li {
    list-style: none outside !important;
    padding-left: 0 !important;
    margin-left: 0 !important; }
  .user-registration-message .message,
  .user-registration-error .message,
  .user-registration-info .message {
    margin: 0;
    padding: 0; }

.user-registration-message {
  border-top-color: #8fae1b;
  background: rgba(143, 174, 27, 0.1);
  color: #596c11; }
  .user-registration-message::before {
    color: #8fae1b; }

.user-registration-info {
  border-top-color: #1e85be; }
  .user-registration-info::before {
    color: #1e85be; }

.user-registration-error {
  border-top-color: #d82223;
  background: rgba(216, 34, 35, 0.1);
  color: #961818; }
  .user-registration-error::before {
    content: '\f534';
    color: #d82223; }

.ur-frontend-form {
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  padding: 20px;
  box-sizing: border-box; }
  .ur-frontend-form:last-child {
    margin-bottom: 0; }
  .ur-frontend-form.login {
    margin: 0;
    padding: 10px;
    box-shadow: none;
    background: none; }
    .ur-frontend-form.login input[name="rememberme"]#rememberme {
      vertical-align: middle; }
  .ur-frontend-form * {
    box-sizing: border-box; }
  .ur-frontend-form form .ur-form-row {
    display: flex; }
    .ur-frontend-form form .ur-form-row:last-child {
      margin-bottom: 0; }
    .ur-frontend-form form .ur-form-row .ur-form-grid {
      flex: 1;
      padding: 0 10px; }
      .ur-frontend-form form .ur-form-row .ur-form-grid:nth-child(1n+2) {
        border-left: 0 none; }
      .ur-frontend-form form .ur-form-row .ur-form-grid .ur-field-item {
        margin-bottom: 20px;
        font-size: 13px; }
        .ur-frontend-form form .ur-form-row .ur-form-grid .ur-field-item:last-child {
          margin-bottom: 0; }
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="text"],
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="email"],
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="url"],
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="password"],
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="date"],
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="number"],
      .ur-frontend-form form .ur-form-row .ur-form-grid textarea,
      .ur-frontend-form form .ur-form-row .ur-form-grid select {
        display: block;
        width: 100%;
        border-radius: 0;
        height: 40px;
        margin-bottom: 10px; }
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="text"]::-webkit-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="email"]::-webkit-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="url"]::-webkit-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="password"]::-webkit-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="date"]::-webkit-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="number"]::-webkit-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid textarea::-webkit-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid select::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #ddd;
          font-size: 13px; }
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="text"]::-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="email"]::-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="url"]::-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="password"]::-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="date"]::-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="number"]::-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid textarea::-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid select::-moz-placeholder {
          /* Firefox 19+ */
          color: #ddd;
          font-size: 13px; }
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="text"]:-ms-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="email"]:-ms-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="url"]:-ms-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="password"]:-ms-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="date"]:-ms-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="number"]:-ms-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid textarea:-ms-input-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid select:-ms-input-placeholder {
          /* IE 10+ */
          color: #ddd;
          font-size: 13px; }
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="text"]:-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="email"]:-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="url"]:-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="password"]:-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="date"]:-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="number"]:-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid textarea:-moz-placeholder,
        .ur-frontend-form form .ur-form-row .ur-form-grid select:-moz-placeholder {
          /* Firefox 18- */
          color: #ddd;
          font-size: 13px; }
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="checkbox"],
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="radio"] {
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 20px; }
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="checkbox"]:first-child,
        .ur-frontend-form form .ur-form-row .ur-form-grid input[type="radio"]:first-child {
          margin-left: 0; }
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="radio"]:focus,
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="text"]:focus,
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="email"]:focus,
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="url"]:focus,
      .ur-frontend-form form .ur-form-row .ur-form-grid input[type="password"]:focus,
      .ur-frontend-form form .ur-form-row .ur-form-grid textarea:focus,
      .ur-frontend-form form .ur-form-row .ur-form-grid select:focus,
      .ur-frontend-form form .ur-form-row .ur-form-grid button:focus {
        outline: 0; }
      .ur-frontend-form form .ur-form-row .ur-form-grid legend,
      .ur-frontend-form form .ur-form-row .ur-form-grid label {
        display: block;
        width: 100%;
        margin-bottom: 10px; }
        .ur-frontend-form form .ur-form-row .ur-form-grid legend .required,
        .ur-frontend-form form .ur-form-row .ur-form-grid label .required {
          text-decoration: none;
          border: none;
          color: #ff0000; }
      .ur-frontend-form form .ur-form-row .ur-form-grid textarea {
        padding: 10px;
        height: 100px;
        resize: none;
        padding: 5px 20px; }
  .ur-frontend-form form input[type="submit"],
  .ur-frontend-form form button[type="submit"] {
    float: right;
    padding: 10px 20px;
    line-height: 1em;
    text-align: center;
    word-break: break-word;
    white-space: normal;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.9s all ease-out;
    -o-transition: 0.9s all ease-out;
    transition: 0.9s all ease-out; }
  .ur-frontend-form form .ur-submit-button {
    margin-right: 10px;
    margin-bottom: 0; }
  .ur-frontend-form label abbr.required {
    text-decoration: none;
    border: none;
    color: #ff0000; }
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type="text"],
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type="email"],
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type="url"],
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type="password"],
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type="date"],
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type="number"],
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid textarea,
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid select {
    border: none;
    border-bottom: 1px solid #69717A;
    outline: none;
    transition: all 0.35s;
    padding: 10px  15px;
    background: #f8f9fa;
    color: #69717A;
    height: 45px; }
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid legend,
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid label {
    font-weight: 600;
    line-height: 2.5;
    margin-left: 5px;
    color: #69717A; }
  .ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid textarea {
    height: 100px; }
  .ur-frontend-form.ur-frontend-form--bordered form input[type="submit"],
  .ur-frontend-form.ur-frontend-form--bordered form button[type="submit"] {
    background: #f8f9fa;
    border: 1px solid #69717A;
    color: #69717A;
    border-radius: 0; }
    .ur-frontend-form.ur-frontend-form--bordered form input[type="submit"]:hover,
    .ur-frontend-form.ur-frontend-form--bordered form button[type="submit"]:hover {
      background: #3498DB;
      color: #ffffff;
      border-color: #3498DB; }
  .ur-frontend-form.ur-frontend-form--flat {
    background: #f7f7f7;
    border: none transparent; }
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid .ur-field-item,
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid .form-row {
      margin-bottom: 0; }
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="text"],
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="email"],
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="url"],
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="password"],
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="date"],
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="number"],
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid textarea,
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid select {
      border: none;
      outline: none;
      padding: 10px 15px;
      background: #ffffff;
      color: #69717A;
      margin-bottom: 10px;
      height: 45px; }
      .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="text"]:focus,
      .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="email"]:focus,
      .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="url"]:focus,
      .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="password"]:focus,
      .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="date"]:focus,
      .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type="number"]:focus,
      .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid textarea:focus,
      .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid select:focus {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05); }
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid select {
      margin-bottom: 10px; }
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid legend,
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid label {
      font-weight: 600;
      line-height: 2.5;
      color: #69717A; }
    .ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid textarea {
      height: 100px; }
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type="text"],
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type="email"],
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type="url"],
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type="password"],
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type="date"],
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type="number"],
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid textarea,
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid select {
    border: 1px solid #CED4DA;
    border-radius: 25px;
    outline: none;
    transition: all 0.35s;
    padding: 10px  15px;
    background: #ffffff;
    color: #69717A;
    height: 45px; }
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid button[type="button"] {
    border-radius: 25px; }
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid legend,
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid label {
    font-weight: 600;
    line-height: 2.5;
    margin-left: 5px;
    color: #69717A; }
  .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid textarea {
    height: 100px; }
  .ur-frontend-form.ur-frontend-form--rounded form input[type="submit"],
  .ur-frontend-form.ur-frontend-form--rounded form button[type="submit"] {
    background: #006AFF;
    border: 0 none;
    color: #ffffff;
    border-radius: 25px;
    float: none;
    width: calc(100% - 20px);
    display: block;
    margin: 0 auto;
    padding: 15px 20px; }
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type="text"],
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type="email"],
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type="url"],
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type="password"],
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type="date"],
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type="number"],
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid textarea,
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid select {
    border-radius: 2px; }
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid button[type="button"] {
    border-radius: 2px; }
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form input[type="submit"],
  .ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form button[type="submit"] {
    border-radius: 2px; }
  .ur-frontend-form #ur-submit-message-node {
    margin: 20px 0 0 0 !important; }
    .ur-frontend-form #ur-submit-message-node.ur-error {
      background: rgba(206, 0, 0, 0.1); }
    .ur-frontend-form #ur-submit-message-node.ur-message.message {
      background: rgba(143, 174, 27, 0.2); }

#user-registration.user-registration,
#user-registration * {
  box-sizing: border-box; }

#user-registration .user-registration-MyAccount-navigation {
  overflow: visible;
  margin: 0; }
  #user-registration .user-registration-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; }
    #user-registration .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      border-left: 1px solid #ffffff;
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      position: relative;
      box-shadow: 0 0 0 transparent; }
      #user-registration .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link a {
        color: #666666;
        padding: 10px 15px;
        display: block;
        font-weight: 600;
        font-size: 15px;
        font-family: 'sans-serif';
        text-decoration: none;
        box-shadow: 0 0 0 transparent; }
      #user-registration .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link.is-active {
        background-color: #fcfcfc;
        border-left: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        border-right: 1px solid #dddddd; }
        #user-registration .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link.is-active a {
          color: #3498DB; }
        #user-registration .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link.is-active:before {
          position: absolute;
          bottom: -1px;
          left: 0;
          content: " ";
          width: 100%;
          height: 1px;
          background-color: #fcfcfc; }

#user-registration .user-registration-MyAccount-content {
  background: #fcfcfc;
  padding: 15px 20px;
  border: 1px solid #dddddd; }
  #user-registration .user-registration-MyAccount-content .ur-form-grid {
    padding: 0;
    border: 0 none;
    background: transparent; }
  #user-registration .user-registration-MyAccount-content .ur-frontend-form {
    border: none; }

/**
* Password strength meter
*/
.user-registration-password-strength {
  text-align: center;
  font-weight: 600;
  padding: 3px 0.5em;
  font-size: 1em; }
  .user-registration-password-strength.strong {
    background-color: #c1e1b9;
    border-color: #83c373; }
  .user-registration-password-strength.short {
    background-color: #f1adad;
    border-color: #e35b5b; }
  .user-registration-password-strength.bad {
    background-color: #fbc5a9;
    border-color: #f78b53; }
  .user-registration-password-strength.good {
    background-color: #ffe399;
    border-color: #ffc733; }

.user-registration-password-hint {
  margin: 0.5em 0 0;
  display: block; }

.ur-front-spinner {
  background: url("../images/wpspin_light-2x.gif") no-repeat;
  background-size: 16px 16px;
  display: block;
  opacity: .7;
  filter: alpha(opacity=70);
  width: 16px;
  height: 16px;
  margin-left: -40px;
  float: left; }
