/**
* user-registration.scss
* Governs the general look and feel of User Registration sections of stores using themes that do not
* integrate with User Registration specifically.
*/
/**
* Imports
*/
/**
 * Variables
 */
/**
 * Grid breakpoints
 *
 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 **/
/**
 * Grid containers
 *
 * Define the maximum width of `.ur-container` for different screen sizes.
 * scss-docs-start container-max-widths
 **/
/** Minimum breakpoint width. Null for the smallest (first) breakpoint.
 *
 *	>> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
 *	576px
 **/
/**
 * Variables
 */
/**
 * Grid breakpoints
 *
 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 **/
/**
 * Grid containers
 *
 * Define the maximum width of `.ur-container` for different screen sizes.
 * scss-docs-start container-max-widths
 **/
/**
 * Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
 * Makes the @content apply to the given breakpoint and wider.
 **/
/**
 * Grid system
 *
 * Generate semantic grid columns with these mixins.
 **/
/**
 * _mixins.scss
 * User Registration Mixins
 */
.ur-h2,
.ur-h3,
.ur-h4 {
  font-weight: 600 !important;
}

.ur-h2 {
  font-size: 28px !important;
}

.ur-h3 {
  font-size: 20px !important;
}

.ur-h4 {
  font-size: 16px !important;
}

.ur-text-center {
  text-align: center;
}

.ur-text-right {
  text-align: left;
}

.ur-text-muted {
  color: #383838;
}

@font-face {
  font-family: "UserRegistration";
  src: url("../fonts/UserRegistration.eot?nk6vrg");
  src: url("../fonts/UserRegistration.eot?nk6vrg#iefix") format("embedded-opentype"), url("../fonts/UserRegistration.ttf?nk6vrg") format("truetype"), url("../fonts/UserRegistration.woff?nk6vrg") format("woff"), url("../fonts/UserRegistration.svg?nk6vrg#UserRegistration") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "UserRegistration";
  src: url("../fonts/UserRegistration.eot?v5p6f");
  src: url("../fonts/UserRegistration.eot?v5p6f#iefix") format("embedded-opentype"), url("../fonts/UserRegistration.ttf?v5p6f") format("truetype"), url("../fonts/UserRegistration.woff?v5p6f") format("woff"), url("../fonts/UserRegistration.svg?v5p6f#UserRegistration") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=ur-icon-],
[class*=" ur-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "UserRegistration" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Define the Map for $field-icons */
/* For each key in the map, creating own class */
.ur-icon-input-first-name::before {
  content: "\e001";
}

.ur-icon-input-last-name::before {
  content: "\e002";
}

.ur-icon-input-field::before {
  content: "\e003";
}

.ur-icon-input-password::before {
  content: "\e004";
}

.ur-icon-input-checkbox::before {
  content: "\e005";
}

.ur-icon-radio::before {
  content: "\e006";
}

.ur-icon-number::before {
  content: "\e007";
}

.ur-icon-phone::before {
  content: "\e008";
}

.ur-icon-calendar::before {
  content: "\e009";
}

.ur-icon-drop-down::before {
  content: "\e00a";
}

.ur-icon-textarea::before {
  content: "\e00b";
}

.ur-icon-email::before {
  content: "\e00c";
}

.ur-icon-email-secondary::before {
  content: "\e00d";
}

.ur-icon-email-confirm::before {
  content: "\e00e";
}

.ur-icon-invite-codes::before {
  content: "\e00f";
}

.ur-icon-password::before {
  content: "\e010";
}

.ur-icon-password-confirm::before {
  content: "\e011";
}

.ur-icon-user::before {
  content: "\e012";
}

.ur-icon-user-nickname::before {
  content: "\e013";
}

.ur-icon-user-display-name::before {
  content: "\e014";
}

.ur-icon-user-bio::before {
  content: "\e015";
}

.ur-icon-website::before {
  content: "\e016";
}

.ur-icon-flag::before {
  content: "\e017";
}

.ur-icon-map-one::before {
  content: "\e018";
}

.ur-icon-map-two::before {
  content: "\e019";
}

.ur-icon-zip-code::before {
  content: "\e01a";
}

.ur-icon-select2::before {
  content: "\e01b";
}

.ur-icon-multi-select::before {
  content: "\e01c";
}

.ur-icon-section-title::before {
  content: "\e01d";
}

.ur-icon-time-picker::before {
  content: "\e01e";
}

.ur-icon-state::before {
  content: "\e01f";
}

.ur-icon-buildings::before {
  content: "\e020";
}

.ur-icon-text-editor::before {
  content: "\e021";
}

.ur-icon-bill::before {
  content: "\e022";
}

.ur-icon-doc::before {
  content: "\e023";
}

.ur-icon-file-upload::before {
  content: "\e024";
}

.ur-icon-file-dollar::before {
  content: "\e025";
}

.ur-icon-code::before {
  content: "\e026";
}

.ur-icon-mailchimp::before {
  content: "\e027";
}

.ur-icon-credit-card::before {
  content: "\e028";
}

.ur-icon-range::before {
  content: "\e029";
}

.ur-icon-course::before {
  content: "\e02a";
}

.ur-icon-mailerlite::before {
  content: "\e02b";
}

.ur-icon-stripe::before {
  content: "\e02d";
}

.ur-icon-multichoice::before {
  content: "\e02e";
}

.ur-icon-subscription-plan::before {
  content: "\e037";
}

.ur-icon-total::before {
  content: "\e02f";
}

.ur-icon-quantity::before {
  content: "\e032";
}

.ur-icon-hidden-field::before {
  content: "\e035";
}

.ur-icon-captcha-field::before {
  content: "\e036";
}

.ur-icon-membership-field::before {
  content: "\e038";
}

.ur-icon-coupon-field::before {
  content: "\e039";
}

.ur-icon-e-signature::before {
  content: "\e040";
}

.ur-icon-authorize-net::before {
  content: "\e041";
}

.user-registration .button,
.user-registration .page-title-action,
.user-registration-page .button,
.user-registration-page .page-title-action,
.ur-multi-device-form-preview .button,
.ur-multi-device-form-preview .page-title-action,
.user-registration-welcome .button,
.user-registration-welcome .page-title-action {
  min-width: unset !important;
  align-content: center;
  min-height: 36px;
  border: 1px solid #475bb2;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  background: #F6F7F7;
  color: #475bb2;
  font-weight: 500;
  text-decoration: none;
  box-sizing: border-box;
}
.user-registration .button:disabled,
.user-registration .page-title-action:disabled,
.user-registration-page .button:disabled,
.user-registration-page .page-title-action:disabled,
.ur-multi-device-form-preview .button:disabled,
.ur-multi-device-form-preview .page-title-action:disabled,
.user-registration-welcome .button:disabled,
.user-registration-welcome .page-title-action:disabled {
  color: #a7aaad !important;
  border-color: #ebebeb !important;
  background: #f6f7f7 !important;
  cursor: not-allowed;
}
.user-registration .button:focus,
.user-registration .page-title-action:focus,
.user-registration-page .button:focus,
.user-registration-page .page-title-action:focus,
.ur-multi-device-form-preview .button:focus,
.ur-multi-device-form-preview .page-title-action:focus,
.user-registration-welcome .button:focus,
.user-registration-welcome .page-title-action:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
.user-registration .button.ur-copy-shortcode,
.user-registration .page-title-action.ur-copy-shortcode,
.user-registration-page .button.ur-copy-shortcode,
.user-registration-page .page-title-action.ur-copy-shortcode,
.ur-multi-device-form-preview .button.ur-copy-shortcode,
.ur-multi-device-form-preview .page-title-action.ur-copy-shortcode,
.user-registration-welcome .button.ur-copy-shortcode,
.user-registration-welcome .page-title-action.ur-copy-shortcode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
.user-registration .button.ur-copy-shortcode svg,
.user-registration .page-title-action.ur-copy-shortcode svg,
.user-registration-page .button.ur-copy-shortcode svg,
.user-registration-page .page-title-action.ur-copy-shortcode svg,
.ur-multi-device-form-preview .button.ur-copy-shortcode svg,
.ur-multi-device-form-preview .page-title-action.ur-copy-shortcode svg,
.user-registration-welcome .button.ur-copy-shortcode svg,
.user-registration-welcome .page-title-action.ur-copy-shortcode svg {
  width: 18px;
  height: 18px;
  margin-bottom: 0;
}
.user-registration .button-primary,
.user-registration .page-title-action-primary,
.user-registration-page .button-primary,
.user-registration-page .page-title-action-primary,
.ur-multi-device-form-preview .button-primary,
.ur-multi-device-form-preview .page-title-action-primary,
.user-registration-welcome .button-primary,
.user-registration-welcome .page-title-action-primary {
  background: #475bb2;
  border-color: #475bb2;
  color: #ffffff;
}
.user-registration .button-primary:hover, .user-registration .button-primary:focus, .user-registration .button-primary:active,
.user-registration .page-title-action-primary:hover,
.user-registration .page-title-action-primary:focus,
.user-registration .page-title-action-primary:active,
.user-registration-page .button-primary:hover,
.user-registration-page .button-primary:focus,
.user-registration-page .button-primary:active,
.user-registration-page .page-title-action-primary:hover,
.user-registration-page .page-title-action-primary:focus,
.user-registration-page .page-title-action-primary:active,
.ur-multi-device-form-preview .button-primary:hover,
.ur-multi-device-form-preview .button-primary:focus,
.ur-multi-device-form-preview .button-primary:active,
.ur-multi-device-form-preview .page-title-action-primary:hover,
.ur-multi-device-form-preview .page-title-action-primary:focus,
.ur-multi-device-form-preview .page-title-action-primary:active,
.user-registration-welcome .button-primary:hover,
.user-registration-welcome .button-primary:focus,
.user-registration-welcome .button-primary:active,
.user-registration-welcome .page-title-action-primary:hover,
.user-registration-welcome .page-title-action-primary:focus,
.user-registration-welcome .page-title-action-primary:active {
  background: rgb(56.4578313253, 72.3614457831, 141.5421686747);
  border-color: rgb(56.4578313253, 72.3614457831, 141.5421686747);
}
.user-registration .button-secondary, .user-registration .button.ur-embed-form-button,
.user-registration .page-title-action-secondary,
.user-registration .page-title-action.ur-embed-form-button,
.user-registration-page .button-secondary,
.user-registration-page .button.ur-embed-form-button,
.user-registration-page .page-title-action-secondary,
.user-registration-page .page-title-action.ur-embed-form-button,
.ur-multi-device-form-preview .button-secondary,
.ur-multi-device-form-preview .button.ur-embed-form-button,
.ur-multi-device-form-preview .page-title-action-secondary,
.ur-multi-device-form-preview .page-title-action.ur-embed-form-button,
.user-registration-welcome .button-secondary,
.user-registration-welcome .button.ur-embed-form-button,
.user-registration-welcome .page-title-action-secondary,
.user-registration-welcome .page-title-action.ur-embed-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d5db;
  background: transparent;
  color: #374151;
  font-weight: 400;
}
.user-registration .button-secondary:hover, .user-registration .button.ur-embed-form-button:hover,
.user-registration .page-title-action-secondary:hover,
.user-registration .page-title-action.ur-embed-form-button:hover,
.user-registration-page .button-secondary:hover,
.user-registration-page .button.ur-embed-form-button:hover,
.user-registration-page .page-title-action-secondary:hover,
.user-registration-page .page-title-action.ur-embed-form-button:hover,
.ur-multi-device-form-preview .button-secondary:hover,
.ur-multi-device-form-preview .button.ur-embed-form-button:hover,
.ur-multi-device-form-preview .page-title-action-secondary:hover,
.ur-multi-device-form-preview .page-title-action.ur-embed-form-button:hover,
.user-registration-welcome .button-secondary:hover,
.user-registration-welcome .button.ur-embed-form-button:hover,
.user-registration-welcome .page-title-action-secondary:hover,
.user-registration-welcome .page-title-action.ur-embed-form-button:hover {
  background: #475bb2;
  border-color: #475bb2;
  color: #ffffff;
}
.user-registration .button-tertiary,
.user-registration .page-title-action-tertiary,
.user-registration-page .button-tertiary,
.user-registration-page .page-title-action-tertiary,
.ur-multi-device-form-preview .button-tertiary,
.ur-multi-device-form-preview .page-title-action-tertiary,
.user-registration-welcome .button-tertiary,
.user-registration-welcome .page-title-action-tertiary {
  background: #eceef7;
  border-color: #eceef7;
}
.user-registration .button-tertiary::before,
.user-registration .page-title-action-tertiary::before,
.user-registration-page .button-tertiary::before,
.user-registration-page .page-title-action-tertiary::before,
.ur-multi-device-form-preview .button-tertiary::before,
.ur-multi-device-form-preview .page-title-action-tertiary::before,
.user-registration-welcome .button-tertiary::before,
.user-registration-welcome .page-title-action-tertiary::before {
  font-family: dashicons;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 8px;
  padding: 0 0 0 8px;
  border-left: 1px solid #475bb2;
  transition: all 0.3s ease-in-out;
}
.user-registration .button-tertiary:hover,
.user-registration .page-title-action-tertiary:hover,
.user-registration-page .button-tertiary:hover,
.user-registration-page .page-title-action-tertiary:hover,
.ur-multi-device-form-preview .button-tertiary:hover,
.ur-multi-device-form-preview .page-title-action-tertiary:hover,
.user-registration-welcome .button-tertiary:hover,
.user-registration-welcome .page-title-action-tertiary:hover {
  background: #475bb2;
  border-color: #475bb2;
  color: #ffffff;
}
.user-registration .button-tertiary:hover::before,
.user-registration .page-title-action-tertiary:hover::before,
.user-registration-page .button-tertiary:hover::before,
.user-registration-page .page-title-action-tertiary:hover::before,
.ur-multi-device-form-preview .button-tertiary:hover::before,
.ur-multi-device-form-preview .page-title-action-tertiary:hover::before,
.user-registration-welcome .button-tertiary:hover::before,
.user-registration-welcome .page-title-action-tertiary:hover::before {
  border-left-color: #ffffff;
}

.wp-core-ui .button.button-large, .wp-core-ui .button-group.button-large .button {
  min-height: 36px;
  line-height: 20px;
  padding: 0 12px;
}

.user-registration-page.user-registration-modal-open {
  overflow: hidden;
}
.user-registration-page.user-registration-modal-open .user-registration-modal {
  max-width: 100%;
}

.user-registration-modal-link:hover {
  cursor: pointer;
}

.user-registration-modal {
  display: flex;
  place-content: center;
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  max-height: 90%;
  width: 100%;
  margin: 0 auto !important;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
}
.user-registration-modal .user-registration-modal__backdrop {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(45, 53, 89, 0.5);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
.user-registration-modal .user-registration-modal__content {
  background: #ffffff;
  position: relative;
  width: auto;
  margin: 16px;
  border-radius: 8px;
  z-index: 99999;
  box-shadow: 0 3px 25px 0px rgba(45, 53, 89, 0.4);
}
@media (min-width: 576px) {
  .user-registration-modal .user-registration-modal__content {
    max-width: 500px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .user-registration-modal .user-registration-modal__content.user-registration-modal__content--xl, .user-registration-modal .user-registration-modal__content.user-registration-modal__content--lg {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .user-registration-modal .user-registration-modal__content.user-registration-modal__content--xl {
    max-width: 1140px;
  }
}
.user-registration-modal .user-registration-modal__header {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #e1e1e1;
}
.user-registration-modal .user-registration-modal__header .user-registration-modal__title {
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
.user-registration-modal .user-registration-modal__header .user-registration-modal__close-icon {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  cursor: pointer;
  margin-right: auto;
}
.user-registration-modal .user-registration-modal__header .user-registration-modal__close-icon::before, .user-registration-modal .user-registration-modal__header .user-registration-modal__close-icon::after {
  content: "";
  height: 2px;
  width: 16px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: rgb(182.4993283582, 186.8632089552, 206.5006716418);
}
.user-registration-modal .user-registration-modal__header .user-registration-modal__close-icon::before {
  transform: rotate(-45deg);
}
.user-registration-modal .user-registration-modal__header .user-registration-modal__close-icon::after {
  transform: rotate(-135deg);
}
.user-registration-modal .user-registration-modal__body {
  position: relative;
  padding: 16px;
  max-height: 67vh;
  overflow-y: scroll;
}
.user-registration-modal .user-registration-modal__body #user-registration,
.user-registration-modal .user-registration-modal__body .user-registration,
.user-registration-modal .user-registration-modal__body .login {
  margin: 0;
  padding: 0;
  border: none;
}
.user-registration-modal .user-registration-modal__footer {
  padding: 16px;
  border-top: 1px solid #e1e1e1;
}
.user-registration-modal .user-registration-modal__footer * {
  margin: 4px;
}

.swal2-container .user-registration-swal2-modal {
  padding: 40px;
}
.swal2-container .user-registration-swal2-modal .swal2-input {
  font-size: 16px;
}
.swal2-container .user-registration-swal2-modal .swal2-animate-success-icon [class^=swal2-success-line], .swal2-container .user-registration-swal2-modal .swal2-animate-success-icon [class^=swal2-success-circular-line] {
  animation: none;
}
.swal2-container .swal2-header .swal2-icon {
  width: 56px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto 16px;
  border-width: 2px;
  border-radius: 50%;
}
.swal2-container .swal2-header .swal2-icon .swal2-x-mark [class^=swal2-x-mark-line] {
  height: 3px;
  width: 28px;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.swal2-container .swal2-header .swal2-icon .swal2-x-mark [class^=swal2-x-mark-line][class$=left] {
  transform: translateY(-50%) rotate(-45deg);
}
.swal2-container .swal2-header .swal2-icon .swal2-x-mark [class^=swal2-x-mark-line][class$=right] {
  transform: translateY(-50%) rotate(45deg);
}
.swal2-container .swal2-header .swal2-icon.swal2-success [class^=swal2-success-line] {
  height: 3px;
}
.swal2-container .swal2-header .swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
  width: 16px;
  top: 56%;
  right: 10px;
}
.swal2-container .swal2-header .swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
  top: 47%;
  width: 32px;
  left: 6px;
}
.swal2-container .swal2-header .swal2-icon.swal2-success [class^=swal2-success-circular-line] {
  height: 64px;
  width: 32px;
}
.swal2-container .swal2-header .swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
  top: -75px;
  right: 27px;
}
.swal2-container .swal2-header .swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
  top: -26px;
  right: 82px;
}
.swal2-container .swal2-header .swal2-icon.swal2-success .swal2-success-ring {
  top: -3px;
  right: -2px;
  border-width: 2px;
}
.swal2-container .swal2-header .swal2-icon.swal2-success .swal2-success-fix {
  height: 64px;
  right: 2px;
  left: 0px;
  margin: 0 auto;
  top: -2px;
  bottom: 0;
  width: 6px;
}
.swal2-container .swal2-header .swal2-icon::before {
  font-size: 40px;
}
.swal2-container .swal2-header .swal2-title {
  color: #2d3559;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.swal2-container .swal2-header .swal2-title img {
  width: 20px;
  height: 20px;
}
.swal2-container .swal2-header .swal2-title .dashicons {
  color: #ff4f55;
  font-size: 28px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto 16px;
  border: 2px solid #ff4f55;
  border-radius: 50%;
}
.swal2-container__title {
  line-height: 1.35;
  display: block;
}
.swal2-container .swal2-content {
  color: rgb(76.288238806, 84.0379701493, 118.911761194);
  font-size: 1em;
  line-height: 1.5;
}
.swal2-container .swal2-actions button {
  margin-top: 0;
  margin-bottom: 0;
}
.swal2-container--centered .swal2-title {
  flex-direction: column;
}

.user-registration-modal-open .wp-block-cover {
  z-index: 99;
}

.user-registration .swal2-container .swal2-popup,
.user-registration-page .swal2-container .swal2-popup {
  width: 400px;
  border-radius: 10px;
  padding: 0;
  margin: auto;
}
.user-registration .swal2-container .swal2-popup .swal2-header,
.user-registration-page .swal2-container .swal2-popup .swal2-header {
  padding: 20px;
}
.user-registration .swal2-container .swal2-popup .swal2-header .swal2-title,
.user-registration-page .swal2-container .swal2-popup .swal2-header .swal2-title {
  display: flex !important;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 16px;
  width: 100%;
  margin-bottom: 0;
  justify-content: center;
}
.user-registration .swal2-container .swal2-popup .swal2-header .swal2-title .dashicons,
.user-registration-page .swal2-container .swal2-popup .swal2-header .swal2-title .dashicons {
  font-size: 18px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.user-registration .swal2-container .swal2-popup .swal2-header .swal2-title .user-registration-swal2-modal__title,
.user-registration-page .swal2-container .swal2-popup .swal2-header .swal2-title .user-registration-swal2-modal__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
}
.user-registration .swal2-container .swal2-popup .swal2-content,
.user-registration-page .swal2-container .swal2-popup .swal2-content {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 0;
  text-align: right;
  font-size: 14px;
  line-height: 24px;
  color: #383838;
}
.user-registration .swal2-container .swal2-popup .swal2-content .swal2-html-container > div,
.user-registration-page .swal2-container .swal2-popup .swal2-content .swal2-html-container > div {
  border-radius: 8px;
  overflow: hidden;
}
.user-registration .swal2-container .swal2-popup .swal2-content .swal2-html-container .action-buttons,
.user-registration-page .swal2-container .swal2-popup .swal2-content .swal2-html-container .action-buttons {
  margin-right: -20px;
  margin-left: -20px;
  border-radius: 0 0 10px 10px;
  padding: 16px;
  text-align: left;
  background: #F4F4F4;
}
.user-registration .swal2-container .swal2-popup .swal2-content .swal2-html-container p,
.user-registration-page .swal2-container .swal2-popup .swal2-content .swal2-html-container p {
  margin: 0;
}
.user-registration .swal2-container .swal2-popup .swal2-content .swal2-validation-message,
.user-registration-page .swal2-container .swal2-popup .swal2-content .swal2-validation-message {
  margin-right: 0;
  margin-left: 0;
  border-right: 3px solid #f27474;
  justify-content: flex-start;
  padding: 12px 6px 12px 6px;
}
.user-registration .swal2-container .swal2-popup .swal2-content .action-buttons,
.user-registration-page .swal2-container .swal2-popup .swal2-content .action-buttons {
  padding: 18px 20px;
}
.user-registration .swal2-container .swal2-popup .swal2-content .action-buttons a,
.user-registration-page .swal2-container .swal2-popup .swal2-content .action-buttons a {
  background: #FF8C39;
  border: #FF8C39;
  text-decoration: none;
  color: #ffffff;
}
.user-registration .swal2-container .swal2-popup .swal2-actions,
.user-registration-page .swal2-container .swal2-popup .swal2-actions {
  padding: 18px 20px;
  gap: 16px;
  margin-top: 20px;
  border-radius: 0 0 5px 5px;
  background: #f4f4f4;
  border-top: 0;
  flex-direction: row-reverse;
}
.user-registration .swal2-container .swal2-popup .swal2-actions .swal2-confirm,
.user-registration .swal2-container .swal2-popup .swal2-actions .swal2-cancel,
.user-registration-page .swal2-container .swal2-popup .swal2-actions .swal2-confirm,
.user-registration-page .swal2-container .swal2-popup .swal2-actions .swal2-cancel {
  min-height: 36px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 0 12px;
  width: 45%;
}
.user-registration .swal2-container .swal2-popup .swal2-actions .swal2-confirm,
.user-registration-page .swal2-container .swal2-popup .swal2-actions .swal2-confirm {
  background: #ff4149;
  border-color: #ff4149;
}
.user-registration .swal2-container .swal2-popup .swal2-actions .swal2-cancel,
.user-registration-page .swal2-container .swal2-popup .swal2-actions .swal2-cancel {
  background: #ffffff;
  color: #383838;
}
.user-registration .swal2-container .swal2-popup .swal2-actions button:focus,
.user-registration-page .swal2-container .swal2-popup .swal2-actions button:focus {
  box-shadow: none;
}
.user-registration .swal2-container .swal2-popup .swal2-actions button:focus-visible,
.user-registration-page .swal2-container .swal2-popup .swal2-actions button:focus-visible {
  outline: none;
}

/**
* Utility classes
*/
.clear {
  clear: both;
}

.user-registration-page .select2-dropdown,
.user-registration-swal2-container {
  z-index: 9999;
}

.user-registration-page .select2-dropdown {
  padding: 0px !important;
}

.ur-timepicker-range {
  display: flex;
}

.timepicker-start {
  margin-left: 1rem;
}

/**
* Main User Registration styles
*/
.user-registration-message,
.user-registration-error,
.user-registration-coupon-error,
.user-registration-info {
  display: block;
  margin: 0 0 10px;
  padding: 10px 15px;
  background-color: rgb(239.7734939759, 241.4843373494, 248.9265060241);
  color: rgb(76.288238806, 84.0379701493, 118.911761194);
  border-top: 3px solid #475bb2;
  list-style: none outside;
  *zoom: 1;
  width: auto;
  word-wrap: break-word;
  line-height: 1.25;
  text-transform: none;
  font-size: 14px;
}
.user-registration-message::before, .user-registration-message::after,
.user-registration-error::before,
.user-registration-error::after,
.user-registration-coupon-error::before,
.user-registration-coupon-error::after,
.user-registration-info::before,
.user-registration-info::after {
  content: " ";
  display: table;
}
.user-registration-message::after,
.user-registration-error::after,
.user-registration-coupon-error::after,
.user-registration-info::after {
  clear: both;
}
.user-registration-message::before,
.user-registration-error::before,
.user-registration-coupon-error::before,
.user-registration-info::before {
  content: "\f348";
  display: inline-block;
  vertical-align: middle;
  font-family: "Dashicons";
  font-size: calc(100% + 10px);
  margin-left: 0.875rem;
}
.user-registration-message ul,
.user-registration-error ul,
.user-registration-coupon-error ul,
.user-registration-info ul {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}
.user-registration-message .button,
.user-registration-error .button,
.user-registration-coupon-error .button,
.user-registration-info .button {
  float: left;
}
.user-registration-message li,
.user-registration-error li,
.user-registration-coupon-error li,
.user-registration-info li {
  list-style: none outside !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
}
.user-registration-message .message,
.user-registration-error .message,
.user-registration-coupon-error .message,
.user-registration-info .message {
  margin: 0;
  padding: 0;
}

.user-registration-message {
  border-top-color: #8fae1b;
  background: rgba(143, 174, 27, 0.1);
  color: rgb(88.5746268657, 107.776119403, 16.723880597);
}

.user-registration-info {
  color: #1e85be;
  border-top-color: #1e85be;
}

.user-registration-error {
  border-top-color: #ff4f55;
  background: rgba(255, 79, 85, 0.1);
  color: rgb(255, 2.5, 11.1079545455);
}
.user-registration-error::before {
  content: "\f534";
}

.user-registration-coupon-error {
  border-top-color: #ff4f55;
  background: rgba(255, 79, 85, 0.1);
  color: rgb(255, 2.5, 11.1079545455);
  margin-top: 10px;
}

input.ur-input-border-green, textarea.ur-input-border-green {
  border-color: #1EA71B !important;
}

input.ur-input-border-red, textarea.ur-input-border-red {
  border-color: #ff4f55 !important;
}

.ur-frontend-form {
  margin-bottom: 30px;
  border: 1px solid #e1e1e1;
  padding: 20px;
  box-sizing: border-box;
}
.ur-frontend-form.login {
  margin: 0;
  padding: 10px;
  box-shadow: none;
  background: none;
}
.ur-frontend-form.login input[name=rememberme]#rememberme {
  vertical-align: middle;
}
.ur-frontend-form.login-registration {
  margin: 0;
  border: none;
  padding: 0;
}
.ur-frontend-form .register #node_recaptcha_register {
  padding: 0 10px;
}
.ur-frontend-form #ur-recaptcha-node {
  margin-top: 10px;
}
.ur-frontend-form * {
  box-sizing: border-box;
}
.ur-frontend-form .description {
  display: block;
  font-size: 14px;
  line-height: 1.5;
}
.ur-frontend-form .ur-form-row {
  display: flex;
}
.ur-frontend-form .ur-form-row:last-child {
  margin-bottom: 0;
}
.ur-frontend-form .ur-form-row .ur-form-grid {
  flex: 1;
  padding: 0 10px;
}
.ur-frontend-form .ur-form-row .ur-form-grid:nth-child(1n+2) {
  border-right: 0 none;
}
.ur-frontend-form .ur-form-row .ur-form-grid input {
  border-style: solid;
}
.ur-frontend-form .ur-form-row .ur-form-grid input[type=text],
.ur-frontend-form .ur-form-row .ur-form-grid input[type=email],
.ur-frontend-form .ur-form-row .ur-form-grid input[type=url],
.ur-frontend-form .ur-form-row .ur-form-grid input[type=password],
.ur-frontend-form .ur-form-row .ur-form-grid input[type=date],
.ur-frontend-form .ur-form-row .ur-form-grid input[type=number],
.ur-frontend-form .ur-form-row .ur-form-grid input[type=timepicker],
.ur-frontend-form .ur-form-row .ur-form-grid input[type=phone],
.ur-frontend-form .ur-form-row .ur-form-grid textarea,
.ur-frontend-form .ur-form-row .ur-form-grid select,
.ur-frontend-form .ur-form-row .ur-form-grid .__PrivateStripeElement {
  width: 100%;
  padding: 4px 8px;
  border-radius: 0;
  min-height: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.ur-frontend-form .ur-form-row .ur-form-grid input[type=text]::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=email]::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=url]::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=password]::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=date]::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=number]::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=timepicker]::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=phone]::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid textarea::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid select::placeholder,
.ur-frontend-form .ur-form-row .ur-form-grid .__PrivateStripeElement::placeholder {
  color: #ddd;
}
.ur-frontend-form .ur-form-row .ur-form-grid input[type=password] {
  display: inline;
  margin-bottom: 0px;
}
.ur-frontend-form .ur-form-row .ur-form-grid .StripeElement {
  padding: 4px 8px;
  border: 1px solid #e1e1e1;
}
.ur-frontend-form .ur-form-row .ur-form-grid .StripeElement .__PrivateStripeElement iframe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ur-frontend-form .ur-form-row .ur-form-grid input[type=checkbox],
.ur-frontend-form .ur-form-row .ur-form-grid input[type=radio] {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 20px;
}
.ur-frontend-form .ur-form-row .ur-form-grid input[type=checkbox]:first-child,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=radio]:first-child {
  margin-right: 0;
}
.ur-frontend-form .ur-form-row .ur-form-grid input[type=radio]:focus,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=text]:focus,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=email]:focus,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=url]:focus,
.ur-frontend-form .ur-form-row .ur-form-grid input[type=password]:focus,
.ur-frontend-form .ur-form-row .ur-form-grid textarea:focus,
.ur-frontend-form .ur-form-row .ur-form-grid select:focus,
.ur-frontend-form .ur-form-row .ur-form-grid button:focus {
  outline: 0;
}
.ur-frontend-form .ur-form-row .ur-form-grid input[readonly],
.ur-frontend-form .ur-form-row .ur-form-grid select[readonly],
.ur-frontend-form .ur-form-row .ur-form-grid textarea[readonly] {
  cursor: auto;
}
.ur-frontend-form .ur-form-row .ur-form-grid select {
  -webkit-appearance: none;
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E") no-repeat left 5px top 55%;
}
.ur-frontend-form .ur-form-row .ur-form-grid legend,
.ur-frontend-form .ur-form-row .ur-form-grid label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ur-frontend-form .ur-form-row .ur-form-grid legend .required,
.ur-frontend-form .ur-form-row .ur-form-grid label .required {
  text-decoration: none;
  border: none;
  color: #ff4f55;
}
.ur-frontend-form .ur-form-row .ur-form-grid legend.ur-label,
.ur-frontend-form .ur-form-row .ur-form-grid label.ur-label {
  font-weight: bold;
}
.ur-frontend-form .ur-form-row .ur-form-grid textarea {
  padding: 10px;
  height: 100px;
  resize: none;
  padding: 5px 20px;
}
.ur-frontend-form .ur-form-row .ur-form-grid .hide_show_password input[type=password] {
  padding-left: 50px;
}
.ur-frontend-form .ur-form-row .ur-form-grid .hide_show_password .password-input-group {
  position: relative;
}
.ur-frontend-form .ur-form-row .ur-form-grid .hide_show_password .password-input-group .password_preview {
  color: rgb(102.6654179104, 109.1689023066, 138.4345820896);
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.ur-frontend-form .ur-form-row .ur-form-grid .hide_show_password .password-input-group .password_preview.dashicons.dashicons-hidden {
  opacity: 0.6;
}
.ur-frontend-form .ur-form-row .ur-form-grid .hide_show_password .password-input-group .password_preview.dashicons.dashicons-hidden:hover {
  opacity: 1;
}
.ur-frontend-form button,
.ur-frontend-form input[type=submit],
.ur-frontend-form button[type=submit] {
  padding: 10px 20px;
  line-height: 1.5;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  border: none;
  cursor: pointer;
  transition: 0.35s all ease-out;
}
.ur-frontend-form input[type=submit] {
  float: left;
}
.ur-frontend-form .ur-button-container {
  display: flex;
  margin-top: 10px;
  padding: 0 10px;
}
.ur-frontend-form .ur-button-container .ur-submit-button {
  margin-right: auto;
}
.ur-frontend-form .user-registration-submit-Button {
  float: left;
}
.ur-frontend-form .ur-submit-button {
  margin-left: 10px;
  margin-bottom: 0;
}
.ur-frontend-form label abbr.required {
  text-decoration: none;
  border: none;
  color: #ff4f55;
}
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type=text],
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type=email],
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type=url],
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type=password],
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type=date],
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid input[type=number],
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid textarea,
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid select {
  border: none;
  border-bottom: 1px solid rgb(205.5, 205.5, 205.5);
  outline: none;
  transition: all 0.35s;
  padding: 10px 15px;
  background: rgb(240.4392835821, 241.3522713704, 245.4607164179);
  color: rgb(102.6654179104, 109.1689023066, 138.4345820896);
  height: 45px;
}
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid legend,
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid label {
  margin-right: 5px;
  color: rgb(102.6654179104, 109.1689023066, 138.4345820896);
}
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid textarea {
  height: 100px;
}
.ur-frontend-form.ur-frontend-form--bordered form .ur-form-row .ur-form-grid .hide_show_password input[type=password] {
  padding-left: 50px;
}
.ur-frontend-form.ur-frontend-form--bordered form input[type=submit],
.ur-frontend-form.ur-frontend-form--bordered form button[type=submit],
.ur-frontend-form.ur-frontend-form--bordered form button.user-registration-multi-part-nav-prev,
.ur-frontend-form.ur-frontend-form--bordered form button.user-registration-multi-part-nav-next {
  background: rgb(240.4392835821, 241.3522713704, 245.4607164179);
  border: 1px solid #e1e1e1;
  color: rgb(102.6654179104, 109.1689023066, 138.4345820896);
  border-radius: 0;
}
.ur-frontend-form.ur-frontend-form--bordered form input[type=submit]:hover,
.ur-frontend-form.ur-frontend-form--bordered form button[type=submit]:hover,
.ur-frontend-form.ur-frontend-form--bordered form button.user-registration-multi-part-nav-prev:hover,
.ur-frontend-form.ur-frontend-form--bordered form button.user-registration-multi-part-nav-next:hover {
  background: #475bb2;
  color: #ffffff;
  border-color: #475bb2;
}
.ur-frontend-form.ur-frontend-form--flat {
  background: #f7f7f7;
  border: none transparent;
}
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid .ur-field-item,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid .form-row {
  margin-bottom: 0;
}
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=text],
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=email],
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=url],
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=password],
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=date],
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=number],
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid textarea,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid select {
  border: none;
  outline: none;
  padding: 10px 15px;
  background: #ffffff;
  color: rgb(102.6654179104, 109.1689023066, 138.4345820896);
  margin-bottom: 10px;
  height: 45px;
}
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=text]:focus,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=email]:focus,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=url]:focus,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=password]:focus,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=date]:focus,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid input[type=number]:focus,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid textarea:focus,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid select:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid select {
  margin-bottom: 10px;
}
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid legend,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid label {
  color: rgb(102.6654179104, 109.1689023066, 138.4345820896);
}
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid textarea {
  height: 100px;
}
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid .hide_show_password input[type=password] {
  padding-left: 50px;
}
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type=text],
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type=email],
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type=url],
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type=password],
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type=date],
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid input[type=number],
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid textarea,
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid select {
  border: 1px solid rgb(205.5, 205.5, 205.5);
  border-radius: 25px;
  outline: none;
  transition: all 0.35s;
  padding: 10px 15px;
  background: #ffffff;
  color: rgb(102.6654179104, 109.1689023066, 138.4345820896);
  height: 45px;
}
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid button[type=button] {
  border-radius: 25px;
}
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid legend,
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid label {
  margin-right: 5px;
  color: rgb(102.6654179104, 109.1689023066, 138.4345820896);
}
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid textarea {
  height: 100px;
}
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid .hide_show_password input[type=password] {
  padding-left: 50px;
}
.ur-frontend-form.ur-frontend-form--rounded form input[type=submit],
.ur-frontend-form.ur-frontend-form--rounded form button[type=submit],
.ur-frontend-form.ur-frontend-form--rounded form button.user-registration-multi-part-nav-prev,
.ur-frontend-form.ur-frontend-form--rounded form button.user-registration-multi-part-nav-next {
  border: 0 none;
  color: #ffffff;
  border-radius: 25px;
  float: none;
  display: block;
  padding: 15px 25px;
}
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type=text],
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type=email],
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type=url],
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type=password],
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type=date],
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid input[type=number],
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid textarea,
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid select {
  border-radius: 2px;
}
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid .hide_show_password input[type=password] {
  padding-left: 50px;
}
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form .ur-form-row .ur-form-grid button[type=button] {
  border-radius: 2px;
}
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form input[type=submit],
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form button[type=submit],
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form button.user-registration-multi-part-nav-prev,
.ur-frontend-form.ur-frontend-form--rounded.ur-frontend-form--rounded-edge form button.user-registration-multi-part-nav-next {
  border-radius: 2px;
}
.ur-frontend-form #ur-submit-message-node {
  margin: 20px 0 0 0;
}
.ur-frontend-form #ur-submit-message-node.ur-error {
  background: rgba(206, 0, 0, 0.1);
}
.ur-frontend-form #ur-submit-message-node.ur-message.message {
  background: rgba(143, 174, 27, 0.2);
}

#user-registration {
  background-color: #ffffff;
  margin: 30px 0;
}
#user-registration.user-registration,
#user-registration * {
  box-sizing: border-box;
}
#user-registration p {
  color: #333333;
}
#user-registration .user-registration-tips {
  font-size: 12px;
  color: rgb(182.4993283582, 186.8632089552, 206.5006716418);
  margin-bottom: 0;
}

/**
* Password strength meter
*/
.user-registration-password-strength {
  text-align: center;
  font-weight: 600;
  padding: 3px 0.5em;
  font-size: 1em;
}
.user-registration-password-strength.strong {
  background-color: #c1e1b9;
  border-color: #83c373;
}
.user-registration-password-strength.short {
  background-color: #f1adad;
  border-color: #e35b5b;
}
.user-registration-password-strength.bad {
  background-color: #fbc5a9;
  border-color: #f78b53;
}
.user-registration-password-strength.good {
  background-color: #ffe399;
  border-color: #ffc733;
}

.user-registration-password-hint {
  margin: 0.5em 0 0;
  display: block;
}

.ur-front-spinner {
  background: url("../images/wpspin_light-2x.gif") no-repeat;
  background-size: 16px 16px;
  display: block;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width: 16px;
  height: 16px;
  margin-right: -40px;
  float: right;
}

.ur-hidden {
  display: none;
}

.button-check-all {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}

.ur-form-row {
  margin-bottom: 24px;
}
.ur-form-row .flatpickr-input {
  padding-right: 32px !important;
}
.ur-form-row .without_icon {
  padding-right: 10px !important;
}
.ur-form-row span.input-wrapper {
  position: relative;
}
.ur-form-row span.input-wrapper .ur-icon {
  position: absolute;
  top: 50%;
  padding: 8px;
  right: 0;
  transform: translateY(-50%);
}