/**
 * Imports
 */
/**
 * Variables
 */
/**
 * Grid breakpoints
 *
 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 **/
/**
 * Grid containers
 *
 * Define the maximum width of `.ur-container` for different screen sizes.
 * scss-docs-start container-max-widths
 **/
/** Minimum breakpoint width. Null for the smallest (first) breakpoint.
 *
 *	>> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
 *	576px
 **/
/**
 * Variables
 */
/**
 * Grid breakpoints
 *
 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 **/
/**
 * Grid containers
 *
 * Define the maximum width of `.ur-container` for different screen sizes.
 * scss-docs-start container-max-widths
 **/
/**
 * Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
 * Makes the @content apply to the given breakpoint and wider.
 **/
/**
 * Grid system
 *
 * Generate semantic grid columns with these mixins.
 **/
/**
 * _mixins.scss
 * User Registration Mixins
 */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Poppins", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.user-registration-welcome {
  background-color: #ECEFF3;
  height: 100vh;
}

#user-registration-welcome {
  text-align: center;
  margin: 0px auto;
  padding: 60px 0px;
  max-width: 980px;
}
@media (max-width: 768px) {
  #user-registration-welcome {
    padding-right: 15px;
    padding-left: 15px;
  }
}
#user-registration-welcome > img {
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  width: 70px;
  height: 70px;
}
#user-registration-welcome > a > p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b6b6b;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
#user-registration-welcome .user-registration-welcome-card {
  max-width: 920px;
  border-radius: 8px;
  margin: 16px auto 21px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  padding: 32px;
  display: flex;
  gap: 32px;
  justify-content: center;
}
@media (max-width: 1600px) {
  #user-registration-welcome .user-registration-welcome-card {
    max-width: 857px;
  }
}
@media (max-width: 768px) {
  #user-registration-welcome .user-registration-welcome-card {
    padding-right: 25px;
    padding-left: 25px;
  }
}
#user-registration-welcome .user-registration-skip-btn {
  text-align: center;
}
#user-registration-welcome .user-registration-skip-btn > a {
  display: inline-block;
  text-decoration: underline;
}
#user-registration-welcome .user-registration-skip-btn > a:hover p svg {
  transform: translateX(-6px);
}
#user-registration-welcome .user-registration-skip-btn > a p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 0;
}
#user-registration-welcome .user-registration-skip-btn > a p svg {
  transition: all 0.3s ease-in-out;
}
#user-registration-welcome a.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  margin: 0px 10px;
  height: 44px;
  right: 440px;
  top: 726px;
  border: 1px solid #475BB2;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
}
#user-registration-welcome a.button-primary {
  background: #475BB2;
  color: #ffffff;
}
#user-registration-welcome a.button-secondary {
  background: #F1F4FF;
  color: #475BB2;
}
#user-registration-welcome a.button-tertiary {
  background: whitesmoke;
  color: #2d3559;
  border: 1px solid #2d3559;
}
#user-registration-welcome a.button h3 {
  font-weight: 400;
}
#user-registration-welcome p {
  line-height: 150%;
  font-size: 16px;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 0;
  color: #6b6b6b;
}
#user-registration-welcome .user-registration-welcome-card a {
  text-decoration: none;
}
#user-registration-welcome .user-registration-welcome-card a:focus {
  box-shadow: none;
  outline: none;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid rgb(102.6654179104, 109.1689023066, 138.4345820896);
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  width: 100%;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  max-width: 605px;
}
@media (max-width: 768px) {
  #user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__header {
    padding-right: 0;
    padding-left: 0;
  }
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__header h2 {
  font-size: 28px;
  line-height: 120%;
  color: #222222;
  font-weight: 600;
}
@media (max-width: 1600px) {
  #user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__header h2 {
    font-size: 24px;
  }
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__header p {
  font-size: 16px;
  line-height: 26px;
  color: #1a202c;
  font-weight: 400;
  paragraph-spacing: 24px;
}
@media (max-width: 1600px) {
  #user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__header p {
    font-size: 14px;
  }
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__header img {
  margin-top: 1.75em;
  fill: #475bb2;
  height: 70px;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video {
  display: flex;
  justify-content: center;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  position: relative;
  height: 482px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 1600px) {
  #user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video {
    height: 440px;
  }
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video .onboarding-video-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video:has(.onboarding-video-thumb)::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.24);
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play {
  cursor: pointer;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .welcome-video-container {
  width: 100%;
  height: 100%;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .welcome-video-container iframe {
  width: 100%;
  height: 100%;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .user-registration-welcome-video__button {
  border: none;
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #ffffff;
  background: #475bb2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .user-registration-welcome-video__button::before {
  content: "";
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: rgba(75, 83, 188, 0.471);
  animation-name: pulseAnimate;
  border-radius: 50%;
  bottom: 0;
  height: 100%;
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .user-registration-welcome-video__button::after {
  content: "";
  animation-name: pulseAnimate;
  border-radius: 50%;
  bottom: 0;
  height: 100%;
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  animation-delay: 0.3s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: rgba(84, 92, 207, 0.47);
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .user-registration-welcome-video__button .dashicons-controls-play {
  display: flex;
  align-items: center;
  justify-content: center;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .user-registration-welcome-video__button .dashicons-controls-play::before {
  font-size: 40px;
  font-weight: 600;
  margin-right: 10px;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
  margin-top: 2px;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .user-registration-welcome-video__button svg {
  height: 24px;
  width: 224px;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play .user-registration-welcome-video__button:hover {
  transform: translate(50%, -50%) scale(1.1);
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container .user-registration-welcome-video a.welcome-video-play img {
  display: block;
  max-width: 100%;
  opacity: 0;
  border-radius: 9px;
}
@keyframes user-registration-welcome-video__button {
  0% {
    box-shadow: 0 0 0 15px #ced5f3;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 0 15px #ced5f3;
  }
}
@-webkit-keyframes user-registration-welcome-video__button {
  0% {
    box-shadow: 0 0 0 15px #ced5f3;
  }
  50% {
    box-shadow: 0 0 0;
  }
  100% {
    box-shadow: 0 0 0 15px #ced5f3;
  }
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__action {
  margin: 0;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__action .button-primary {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 22px 14px 19px;
  height: auto;
  border-radius: 3px;
  border: 1px solid #475bb2;
  background: #475bb2;
  margin-right: 0;
  margin-left: 0;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__action .button-primary:hover {
  background: #4153a2;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__action .button-primary h3 {
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  color: #ffffff;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__action .user-registration-welcome-container__action-card {
  padding: 1em;
  margin: 0 1em;
  width: 100%;
  border-radius: 4px;
  width: calc(50% - 38px);
  border: 1px solid rgb(102.6654179104, 109.1689023066, 138.4345820896);
  transition: 0.3s ease;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__action .user-registration-welcome-container__action-card .user-registration-welcome-container__action-card-img svg {
  height: 64px;
  width: 64px;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__action .user-registration-welcome-container__action-card .user-registration-welcome-container__action-card-content h3 {
  font-size: 1.23em;
  margin-bottom: 0.5em;
}
#user-registration-welcome .user-registration-welcome-card .user-registration-welcome-container__action .user-registration-welcome-container__action-card:hover {
  box-shadow: 0 2px 20px 0 rgba(45, 53, 89, 0.15);
}
#user-registration-welcome .user-registration-extensions-card {
  text-align: center;
}
#user-registration-welcome .user-registration-extensions-card .user-registration-extensions-container__header {
  padding: 0 1em;
}
#user-registration-welcome .user-registration-extensions-card .user-registration-extensions-container__header h2 {
  font-size: 1.75em;
  margin-top: 1.75em;
  margin-bottom: 1em;
  color: #2D3559;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}
#user-registration-welcome .user-registration-extensions-card .user-registration-extensions-container__body {
  padding: 15px;
}
#user-registration-welcome .user-registration-extensions-card .user-registration-extensions-container__body img {
  display: block;
  max-width: 100%;
}
#user-registration-welcome .user-registration-extensions-card .user-registration-extensions-container__footer {
  padding: 0 32px;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}
#user-registration-welcome .user-registration-support-card {
  text-align: center;
}
#user-registration-welcome .user-registration-support-card .user-registration-support-container__header {
  padding: 0 1em;
}
#user-registration-welcome .user-registration-support-card .user-registration-support-container__header h2 {
  font-size: 1.75em;
  margin-top: 1.75em;
  margin-bottom: 1em;
  color: #2D3559;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
}
#user-registration-welcome .user-registration-support-card .user-registration-support-container__body {
  padding: 0 1em;
}
#user-registration-welcome .user-registration-support-card .user-registration-support-container__footer {
  padding: 0 32px;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

#user-registration-setup-wizard {
  margin: 0px auto;
  max-width: 980px;
  border-radius: 4px;
  align-content: center;
  padding: 60px 0px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header--logo h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  margin-right: 20px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header--logo img {
  width: 70px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header--nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header--nav .step {
  color: #BFBFBF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header--nav .step .step-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header--nav .done .step-label,
#user-registration-setup-wizard .user-registration-setup-wizard__header--nav .active .step-label {
  color: #475BB2;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header .center-line {
  flex-grow: 1;
  height: 1px;
  background-color: #BABABA;
  margin: 0 10px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header .center-line#center-line-step-2 {
  flex-grow: 0.75;
}
#user-registration-setup-wizard .user-registration-setup-wizard__header .center-line.done {
  background-color: #475BB2;
}
#user-registration-setup-wizard .user-registration-setup-wizard__body {
  padding: 32px 40px 32px 32px;
  background-color: #ffffff;
  border-radius: 13px 13px 0px 0px;
  color: #2D3559;
  margin-top: 42px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__body .ur-setup-wizard-tool-tip {
  margin-bottom: 8px !important;
}
#user-registration-setup-wizard .user-registration-setup-wizard__body .ur-setup-wizard-tool-tip::after {
  content: "";
  background-image: url("../images/settings-icons/information.svg") !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: center;
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 4px;
  background: transparent;
  border-radius: 3px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__body--select {
  flex: 1 0 60%;
}
#user-registration-setup-wizard .user-registration-setup-wizard__body--select input {
  border: none;
}
#user-registration-setup-wizard .user-registration-setup-wizard__body--select span.css-1f1glkn {
  height: 29px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__body--checkbox .chakra-checkbox__control {
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-left: 10px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__body--checkbox .chakra-checkbox__control svg {
  font-size: 10px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #FAFAFA;
  padding: 24px 32px;
  border: 1px solid #E1E1E1;
  border-radius: 0px 0px 13px 13px;
}
#user-registration-setup-wizard .user-registration-setup-wizard__footer--left, #user-registration-setup-wizard .user-registration-setup-wizard__footer--right {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}
#user-registration-setup-wizard .user-registration-setup-wizard__footer--left a.chakra-link, #user-registration-setup-wizard .user-registration-setup-wizard__footer--right a.chakra-link {
  text-decoration: none;
}
#user-registration-setup-wizard .user-registration-setup-wizard__footer--right {
  justify-content: flex-end;
}

@keyframes pulseAnimate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.8, 1.8);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}