/**
 * user-registration-form-preview.scss
 * General User Registration form preview styles.
 */
/**
 * Imports
 */
/**
 * Variables
 */
/**
 * Grid breakpoints
 *
 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 **/
/**
 * Grid containers
 *
 * Define the maximum width of `.ur-container` for different screen sizes.
 * scss-docs-start container-max-widths
 **/
.ur-multi-device-form-preview #nav-menu-header {
  padding: 12px;
  display: flex;
  align-items: center;
  position: relative;
  border-color: #e1e1e1;
  background-color: #ffffff;
  z-index: 9;
}
.ur-multi-device-form-preview #nav-menu-header .ur-form-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  padding-right: 18px;
  padding-left: 8px;
}
.ur-multi-device-form-preview #nav-menu-header .ur-brand-logo {
  border-left: 1px solid #e1e1e1;
}
.ur-multi-device-form-preview #nav-menu-header .ur-brand-logo img {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  display: flex;
}
.ur-multi-device-form-preview #nav-menu-header .ur-brand-logo a {
  text-decoration: none;
  border: none;
}
.ur-multi-device-form-preview #nav-menu-header .ur-brand-logo a:focus {
  outline: none;
  box-shadow: none;
}
.ur-multi-device-form-preview #nav-menu-header::before, .ur-multi-device-form-preview #nav-menu-header::after {
  content: "";
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ffffff;
}
.ur-multi-device-form-preview #nav-menu-header::before {
  top: 0;
  z-index: -1;
}
.ur-multi-device-form-preview #nav-menu-header::after {
  height: 10px;
  box-shadow: 0px 4px 8px rgba(45, 53, 89, 0.08);
  z-index: -2;
}
.ur-multi-device-form-preview .major-publishing-actions {
  clear: both;
  line-height: 28px;
  margin-right: auto;
}
.ur-multi-device-form-preview .major-publishing-actions .publishing-action {
  text-align: left;
  float: left;
}
.ur-multi-device-form-preview .major-publishing-actions .publishing-action input.code {
  width: 280px;
  height: 33px;
  padding: 0 6px;
  margin: 0;
  border-color: #e9e9e9;
  background: #f8f8fa;
  border-radius: 0 3px 3px 0;
}
.ur-multi-device-form-preview .major-publishing-actions #copy-shortcode {
  margin-right: -5px;
  border-radius: 4px 0 0 4px;
  background: #edeff7 !important;
  border-color: #e9e9e9 !important;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff !important;
  border: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}
.ur-multi-device-form-preview .major-publishing-actions #copy-shortcode svg {
  width: 18px;
  height: 18px;
}
.ur-multi-device-form-preview .ur-form-preview-devices {
  clear: both;
  line-height: 28px;
  margin-right: auto;
}
.ur-multi-device-form-preview .ur-form-preview-devices svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.ur-multi-device-form-preview .ur-form-preview-main-content {
  display: flex;
  background: #f2f2f2;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form {
  width: 1060px;
  padding: 30px;
  gap: 30px;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  margin: 38px;
  background: #fff;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-form-preview-title {
  padding: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #414141;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-form-preview-content {
  padding: 24px;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel {
  display: flex;
  max-width: 380px;
  padding: 20px;
  flex-direction: column;
  gap: 36px;
  border: 1px solid #e1e1e1;
  margin-right: auto;
  background: #fff;
  box-sizing: border-box;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .hidden {
  display: none !important;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-save,
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-upgrade {
  background: #475BB2;
  width: max-content;
  padding: 10px;
  margin-bottom: 0px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #475BB2;
  cursor: pointer;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-save .ur-form-preview-save-title,
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-upgrade .ur-form-preview-save-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-from-preview-theme-toggle {
  display: flex;
  justify-content: space-between;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-from-preview-theme-toggle .ur-form-preview-toggle-title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-pro-features {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-pro-features .ur-form-preview-sidebar__body--list-item svg {
  height: 18px;
  width: 18px;
  position: relative;
  top: 5px;
  margin-left: 10px;
}
.ur-multi-device-form-preview .ur-form-preview-main-content .hidden {
  display: none;
}
.ur-multi-device-form-preview .ur-small-screen-preview .ur-form-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ur-multi-device-form-preview .ur-small-screen-preview .ur-form-row .ur-form-grid {
  width: 100% !important;
  margin-bottom: 20px;
}
.ur-multi-device-form-preview .ur-small-screen-preview .ur-form-row .ur-form-grid:nth-child(1n+2) {
  border-right: 1px solid #e1e1e1;
}
.ur-multi-device-form-preview .ur-small-screen-preview .ur-form-row .ur-form-grid:last-child {
  margin-bottom: 0;
  border-right: 0 none;
}
.ur-multi-device-form-preview .ur-form-preview-sidepanel-toggler {
  position: absolute;
  width: 27px;
  height: 48px;
  top: 50%;
  right: calc(100% - 457px);
}
.ur-multi-device-form-preview .inactive {
  right: calc(100% - 27px);
}

body.ur-multi-device-form-preview {
  margin: 0;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content {
  min-height: calc(100vh - 76px);
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form {
  width: 100%;
  padding: 0px;
  background: none;
  border-radius: 8px;
  border: none;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form label {
  font-weight: 500 !important;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form select,
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form textarea,
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form input:not([type=range]) {
  min-height: 38px;
  border-radius: 4px;
  padding: 0 12px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-preview-content {
  height: 100%;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  margin: 0 auto;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-preview-content .select2-container {
  width: 100% !important;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-preview-tablet-wrapper {
  max-width: 768px;
  margin: 0 auto;
  border-radius: 8px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-preview-mobile-wrapper {
  max-width: 420px;
  margin: 0 auto;
  border-radius: 8px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-preview-mobile-wrapper .ur-frontend-form .ur-form-row {
  gap: 0;
  flex-direction: column;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-preview-mobile-wrapper .ur-frontend-form .ur-form-row .ur-form-grid {
  width: 100% !important;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-preview-mobile-wrapper .ur-frontend-form .ur-form-row .ur-form-grid:first-child {
  margin-bottom: 28px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-form-preview-title {
  padding: 24px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: block;
  color: #222;
  background: #FAFAFA;
  box-sizing: border-box;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form {
  background: #fff;
  border: none;
  padding: 24px 30px 30px;
  margin-bottom: 0;
  box-shadow: none;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .user-registration-registration-title {
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.15px;
  display: block;
  text-align: center;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .user-registration-registration-description {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.15px;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-button-container {
  display: block;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-form-row {
  gap: 24px;
  margin-bottom: 28px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-form-row .ur-form-grid input,
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-form-row .ur-form-grid textarea,
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-form-row .ur-form-grid select {
  border-color: #e9e9e9;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-form-row .ur-form-grid textarea {
  padding-top: 6px;
  padding-bottom: 6px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-form-row .ur-form-grid ul {
  padding-right: 0;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-button-container {
  width: max-content;
  margin-top: 36px;
  display: flex;
  align-items: center;
  gap: 4px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-button-container .ur-submit-button {
  width: max-content;
  margin: 0;
  font-weight: 500;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-button-container .ur-submit-button:hover {
  color: #ffffff;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-button-container .user-registration-save-and-continue-button {
  color: #475bb2;
  border: 1px solid #475bb2;
  background: transparent;
  font-weight: 500;
  margin-right: 0;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form .ur-button-container .user-registration-save-and-continue-button:hover {
  background: #475bb2;
  color: #ffffff;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview) .ur-form-row {
  gap: 24px;
  margin-bottom: 28px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview) .ur-form-row .form-row .ur-label {
  font-weight: 500;
  font-size: 15px;
  color: #383838;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview) .ur-form-row .form-row .input-wrapper input {
  padding: 8px 14px 8px 10px;
  margin-bottom: 4px;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview) .ur-form-row .form-row .input-wrapper input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #bababa;
  text-transform: capitalize;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview) button[type=submit] {
  padding: 10px 16px 8px;
  border-radius: 4px;
  background: #475bb2;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview) .ur-button-container {
  display: block;
  margin-top: 36px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview).ur-small-screen-preview .ur-form-row {
  margin-bottom: 0;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview).ur-small-screen-preview .ur-form-row .ur-form-grid {
  margin-bottom: 28px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-preview-form .ur-frontend-form:not(.ur-frontend-form-preview).ur-small-screen-preview .ur-button-container {
  margin-top: 8px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel {
  border-right: 1px solid #EDEFF7;
  border: none;
  margin-right: unset;
  z-index: 1;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-pro-features-title {
  margin: 0 0 4px 0;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  line-height: 24px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-pro-features .ur-form-preview-sidebar__body--list-item span {
  font-size: 14px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-pro-features .ur-form-preview-sidebar__body--list-item svg {
  margin-left: 8px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-pro-features .ur-form-preview-upgrade {
  margin-top: 16px;
  padding: 8px 16px 8px 18px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-pro-features .ur-form-preview-upgrade .ur-form-preview-upgrade-title {
  color: #fff;
  font-size: 14px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-save {
  padding: 8px 16px 8px 18px;
  color: #fff;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview input {
  position: relative;
  z-index: 99;
  opacity: 0;
  height: 22px;
  width: 40px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview input:checked + .slider {
  background-color: #475bb2;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview input:checked + .slider::before {
  transform: translateX(-16px);
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #dfe1ea;
  transition: 0.4s;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview .slider.round {
  border-radius: 30px;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview .slider.round::before {
  border-radius: 50%;
}
body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel .ur-form-preview-toggle-theme-preview .slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 100%;
}
@media (max-width: 992px) {
  body.ur-multi-device-form-preview .ur-form-preview-main-content .ur-form-side-panel {
    position: absolute;
    left: 0;
    height: 100%;
    border-right: 1px solid #edeff7;
  }
  body.ur-multi-device-form-preview .ur-form-preview-main-content.ur-form-preview-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #1a1a1a;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }
}
body.ur-multi-device-form-preview .ur-form-preview-sidepanel-toggler {
  left: 380px;
  right: unset;
  border: 1px solid #EDEFF7;
  border-left: 0px;
  width: 26px;
  background: #fff;
  padding: 0px 8px;
  fill: #9B9B9B;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 1;
  cursor: pointer;
  box-sizing: border-box;
}
body.ur-multi-device-form-preview .ur-form-preview-sidepanel-toggler.inactive {
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: rotate(-180deg);
}
body.ur-multi-device-form-preview #nav-menu-header {
  padding: 0 30px;
}
body.ur-multi-device-form-preview #nav-menu-header .ur-brand-logo {
  padding-right: 0 !important;
  padding-left: 30px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
}
body.ur-multi-device-form-preview #nav-menu-header .ur-brand-logo img {
  width: 36px;
  height: 36px;
  margin-left: 0;
}
body.ur-multi-device-form-preview #nav-menu-header .ur-form-title {
  padding: 0;
  color: #222222;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
body.ur-multi-device-form-preview #nav-menu-header .ur-form-preview-devices {
  border-radius: 8px;
  background: #EDEFF7;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 2px;
}
body.ur-multi-device-form-preview #nav-menu-header .ur-form-preview-devices .ur-form-preview-device.active {
  background: #fff;
  border-radius: 4px;
}
body.ur-multi-device-form-preview #nav-menu-header .ur-form-preview-devices svg {
  padding: 8px;
  width: auto;
  height: auto;
}
body.ur-multi-device-form-preview #nav-menu-header .major-publishing-actions .publishing-action {
  position: relative;
}
body.ur-multi-device-form-preview #nav-menu-header .major-publishing-actions .publishing-action input[type=text] {
  all: unset;
  height: 38px;
  background: #EDEFF7;
  border: 1px solid #EDEFF7;
  text-align: right;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 14px;
}

html[dir=rtl] body.ur-multi-device-form-preview .ur-form-preview-sidepanel-toggler {
  transform: rotate(-180deg);
  left: unset;
  right: 380px;
}
html[dir=rtl] body.ur-multi-device-form-preview .ur-form-preview-sidepanel-toggler.inactive {
  transform: rotate(0deg);
  border: 1px solid #edeff7;
  border-right: 0;
  right: 0;
}
html[dir=rtl] body.ur-multi-device-form-preview #nav-menu-header .ur-brand-logo {
  margin-left: 0;
  margin-right: 30px;
  border-left: 0;
  border-right: 1px solid #e1e1e1;
  padding-left: 0 !important;
  padding-right: 30px !important;
}
html[dir=rtl] body.ur-multi-device-form-preview #nav-menu-header .ur-form-preview-devices,
html[dir=rtl] body.ur-multi-device-form-preview #nav-menu-header .major-publishing-actions {
  margin-right: unset;
  margin-left: auto;
}
html[dir=rtl] body.ur-multi-device-form-preview aside.ur-form-side-panel .ur-form-preview-pro-features .ur-form-preview-sidebar__body--list-item svg {
  margin-right: 8px;
  margin-left: 0;
}

.tooltipster-base .tooltipster-box {
  background: #131313 !important;
  padding: 4px 8px;
  border-radius: 2px;
  text-align: center;
}
.tooltipster-base .tooltipster-box .tooltipster-content {
  padding: 2px 0;
  font-size: 12px;
}
.tooltipster-base .tooltipster-box .tooltipster-content a {
  color: #9ef01a !important;
}
.tooltipster-base .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-border {
  border-top-color: #131313 !important;
  border-bottom-color: #131313 !important;
}