.user-registration.ur-frontend-form {
  background: #fff;
  border: none;
}
.user-registration.ur-frontend-form .ur-button-container {
  display: block;
}
.user-registration.ur-frontend-form .ur-form-row {
  gap: 24px;
  margin-bottom: 28px;
}
.user-registration.ur-frontend-form .ur-button-container {
  display: block;
  margin-top: 36px;
}
.user-registration.ur-frontend-form .ur-button-container .ur-submit-button br {
  display: none;
}
.user-registration.ur-frontend-form.ur-frontend-form--default .ur-form-row {
  gap: 24px;
}
.user-registration.ur-frontend-form.ur-frontend-form--default .ur-form-row .form-row .ur-label {
  font-weight: 500;
  font-size: 15px;
  color: #383838;
  margin-right: 0;
}
.user-registration.ur-frontend-form.ur-frontend-form--default .ur-form-row .form-row .input-wrapper input {
  padding: 8px 14px 8px 10px;
  margin-bottom: 4px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.user-registration.ur-frontend-form.ur-frontend-form--default .ur-form-row .form-row .input-wrapper input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #bababa;
  text-transform: capitalize;
}
.user-registration.ur-frontend-form.ur-frontend-form--default button[type=submit] {
  padding: 10px 16px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.user-registration.ur-frontend-form.ur-frontend-form--default .ur-button-container {
  display: block;
  margin-top: 36px;
}