
/**
 * Imports
 */
 @import 'variables/variables';
 @import 'mixins/mixins';

 *,
 *::before,
 *::after {
   margin: 0;
   box-sizing: border-box;
 }

 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	 "Poppins", sans-serif;
   font-size: 13px;
   line-height: 1.8;
   font-weight: 400;
   color: #000;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #E5E5E5;
 }

#user-registration-welcome {


	.user-registration-welcome-card,
	.user-registration-extensions-card,
	.user-registration-support-card {
		max-width: 760px;
		border-radius: 4px;
		margin: 3rem auto;
		background: $white;
		border: 1px solid $color_gray_two;
		box-shadow: 0 2px 10px transparentize($gray_base, 0.9);
	}

	.user-registration-welcome-card {
		a {
			text-decoration: none;

			&:focus {
				box-shadow: none;
				outline: none;
			}
		}

		p {
			font-size: 1.25em;
			color: $gray_base;
		}

		.user-registration-welcome-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1em;
			border-bottom: 1px solid $color_gray_two;
		}

		.user-registration-welcome-header__logo-wrap {
			display: flex;
			align-items: center;

			.user-registration-welcome-header__logo-icon {
				margin-right: 16px;
				padding-right: 16px;
				border-right: 1px solid $color_gray_two;

				img {
					display: block;
					fill: $primary_color;
					width: 24px;
					height: 24px;
				}
			}

			span {
				font-size: 14px;
				font-weight: 600;
			}
		}

		.user-registration-welcome-container {
			text-align: center;

			.user-registration-welcome-container__header {
				padding: 0 1em;

				h2 {
					font-size: 1.75em;
					margin-top: 1.75em;
				}

				p {
					margin-bottom: 1.5em;
				}
			}

			.user-registration-welcome-video {
				cursor: pointer;
				display: flex;
				position: relative;
				align-items: center;
				justify-content: center;

				.user-registration-welcome-video__button {
					border: none;
					cursor: pointer;
					font-size: 24px;
					height: 40px;
					width: 54px;
					border-radius: 12px;
					padding: 8px 15px;
					position: absolute;
					color: $white;
					opacity: 0;
					visibility: hidden;
					transition: 0.25s ease;
					background: transparentize($gray_base, 0.25);

					svg {
						height: 24px;
						width: 224px;
					}

					&:hover {
						background: $red;
						visibility: visible;
						opacity: 1;
					}
				}

				img {
					display: block;
					max-width: 100%;

					&:hover {
						& + .user-registration-welcome-video__button {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}

			.user-registration-welcome-container__action {
				padding: 0 32px;
				margin: 3rem 0;
				display: flex;
				justify-content: space-between;

				.user-registration-welcome-container__action-card {
					padding: 1em;
					margin: 0 1em;
					width: 100%;
					border-radius: 4px;
					width: calc(50% - 38px);
					border: 1px solid $color_gray_two;
					transition: 0.3s ease;

					.user-registration-welcome-container__action-card-img {
						svg {
							height: 64px;
							width: 64px;
						}
					}

					.user-registration-welcome-container__action-card-content {
						h3 {
							font-size: 1.23em;
							margin-bottom: 0.5em;
						}

						p {
							margin-top: 0.5em;
						}
					}

					&:hover {
						box-shadow: 0 2px 20px 0
							transparentize($gray_base, 0.85);
					}
				}
			}
		}
	}

	.user-registration-extensions-card {
		text-align: center;

		.user-registration-extensions-container__header {
			padding: 0 1em;

			h2 {
				font-size: 1.75em;
				margin-top: 1.75em;
			}

			p {
				margin-bottom: 1.5em;
			}
		}

		.user-registration-extensions-container__body {
			padding: 15px;

			img {
				display: block;
				max-width: 100%;
			}
		}

		.user-registration-extensions-container__footer {
			padding: 0 32px;
			margin: 3rem 0;
			display: flex;
			justify-content: center;
		}
	}

	.user-registration-support-card {
		text-align: center;

		.user-registration-support-container__header {
			padding: 0 1em;

			h2 {
				font-size: 1.75em;
				margin-top: 1.75em;
			}

			p {
				margin-bottom: 1.5em;
			}
		}

		.user-registration-support-container__footer {
			padding: 0 32px;
			margin: 3rem 0;
			display: flex;
			justify-content: center;
		}
	}
}

#user-registration-setup-wizard {
	max-width: 980px;
	border-radius: 4px;
	margin: 3rem auto;
	padding: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;

	.user-registration-setup-wizard {
		&__header {
			flex: 0 0 25%;
			margin-bottom: 25px;

			&--logo {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 100px;

				h1 {
					font-size: 24px;
					font-weight: 400;
					line-height: 31px;
					margin-left: 20px;
				}
				img {
					width: 50px;
				}
			}

			&--nav {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				list-style-type: none;

				.step {
					width: 100%;
					height: 2px;
					color: #BFBFBF;
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-end;
					background-color: #BFBFBF;

					.step-label {
						margin-bottom: 20px;
						font-weight: 500;
						font-size: 18px;
					}

					p.step-identifier {
						display: inline-block;
						vertical-align: middle;
						background-color: #E5E5E5;
						width: 13px;
						height: 13px;
						border: solid 3px #BFBFBF;
						border-radius: 50%;
						position: absolute;
						top: -6px;
						left: calc(50% - 5px);
					}
				}

				.done,
				.active {
					background-color: #475BB2;

					p.step-identifier {
						border-color: #475BB2 ;
					}

					.step-label {
						color: #475BB2;
					}
				}
			}
		}

		&__body {
			flex: 0 0 50%;
			height: 200px;
			padding: 40px;
			background-color: $white;
			border-radius: 4px;
			color: #2D3559;

			&--select {
				flex: 0 0 40%;
			}

			.chakra-checkbox__control {
				border-radius: 50%;
				height: 32px;
				width: 32px;
				margin-right: 10px;

				svg {
					font-size: 15px;
				}
			}
		}

		&__footer {
			flex: 0 0 25%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			background-color: $white;
			padding: 20px;

			&--left,
			&--right {
				flex: 0 0 50%;
				display: flex;
			}

			&--right{
				justify-content: flex-end;

				.chakra-button {
					margin-left: 10px;
				}
			}

		}
	}
}
