.user-registration,
.ur-form-container {

	button,
	.button {
		transition: all 0.25s ease 0s;
		box-shadow: 0 1px 3px transparentize($color_gray_three, 0.85);

		@media screen and (max-width: 782px) {
			line-height: 20px;
			font-size: 13px;
			min-height: 30px;
			margin-bottom: 0;
		}

		+ button,
		+ .button {
			margin-left: 6px;
		}

		&.button-icon {
			width: 32px;
			padding: 0;
			text-align: center;

			.dashicons {
				line-height: 0.9;
				vertical-align: middle;
			}

			svg {
				display: block;
				margin: 0 auto;
			}
		}

		&.button-icon-round {
			border-radius: 50%;
		}

		&.is-active {
			background: $primary_color;
			color: $white;
			border-color: $primary_color;

			&:hover,
			&:active,
			&:focus {
				background: $primary_color;
				color: $white;
				border-color: $primary_color;
			}
		}

		.ur-spinner {
			width: 16px;
			height: 16px;
			margin-left: 6px;
			margin-bottom: 2px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.button-primary {
		background: var(--ur-button-background-normal-color, $primary_color);;
		border-color: $primary_color;
		box-shadow: 0 1px 0 $primary_color;
		text-shadow: none;

		&:hover,
		&:active,
		&:focus {
			background: var(--ur-button-background-normal-color, $primary_color);;
			border-color: $primary_dark;
			box-shadow: 0 1px 0 $primary_dark;
		}

		&:disabled {
			color: lighten($primary_color, 30%) !important;
			background: lighten($primary_color, 10%) !important;
			border-color: lighten($primary_color, 10%) !important;
		}
	}

	.button-secondary {
		color: $gray_base;
		background: $color_gray_four;
		border-color: $color_gray_four;
		box-shadow: 0 1px 0 $color_gray_four;

		&:hover,
		&:active,
		&:focus {
			color: $gray_base;
			background: $color_gray_three;
			border-color: $color_gray_three;
		}
	}

	.button-tertiary {
		background: $white;
		color: $gray_base;
		border: 1px solid $border-color;

		&:hover,
		&:active,
		&:focus {
			background: $color_gray_five;
			border-color: $border-color;
		}
	}

	.button-danger {
		color: $white;
		background: $red;
		border-color: $red;
		box-shadow: 0 1px 0 $red;

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background: adjust-color($red, $saturation: -15%, $lightness: -8%);
			border-color: adjust-color($red, $saturation: -15%, $lightness: -8%);
			box-shadow: 0 1px 0 adjust-color($red, $saturation: -15%, $lightness: -8%);
		}
	}

	// .publishing-action {
	// 	button,
	// 	input[type='button'],
	// 	input[type='submit'],
	// 	.button {
	// 		margin-right: 5px;
	// 	}
	// }
}

.user-registration-button-group {
	position: relative;
	display: inline-flex;
	vertical-align: middle;

	> button,
	.button {
		&:not(:first-child) {
			margin-left: -1px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	> button,
	.button {
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	button,
	.button {
		margin-right: 0 !important;
	}
}

.ur-registered-item.ui-draggable-dragging {
	padding: 10px 10px;
	line-height: 20px;
	background: $primary_color;
	color: $white;
	text-align: center;
	margin-bottom: 7px;
	word-break: break-word;
	white-space: normal;
	width: 200px !important;
	z-index: 9;

	span {
		font-size: 14px;
		line-height: 20px;
		width: auto;
		height: auto;
		margin-right: 3px;

	}
}

.select2-container {
	.ur-select-all-countries-button {
		margin: 6px 3px 4px 6px;
	}

	.ur-unselect-all-countries-button {
		margin: 6px 3px 4px;
	}
}
