.user-registration,
.user-registration-page,
.ur-multi-device-form-preview,
.user-registration-welcome {
	.button,
	.page-title-action {
		min-width: unset !important;
		align-content: center;
		min-height: 36px;
		border: $border_width solid $primary_color;
		padding: 0px $spacing_12px;
		font-size: 14px;
		line-height: 20px;
		border-radius: $border_radius_4;
		transition: all .3s ease-in-out;
		background: #F6F7F7;
		color: $primary_color;
		font-weight: $medium;
		text-decoration: none;
		box-sizing: border-box;

		&:disabled {
			color: #a7aaad !important;
			border-color: #ebebeb !important;
			background: #f6f7f7 !important;
			cursor: not-allowed;
		}

		&:focus {
			outline: none;
			box-shadow: none;
			border-color: transparent;
		}

		&.ur-copy-shortcode {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 !important;

			svg {
				width: 18px;
				height: 18px;
				margin-bottom: 0;
			}
		}

		&-primary {
			background: $primary_color;
			border-color: $primary_color;
			color: $white;

			&:hover,
			&:focus,
			&:active {
				background: $primary_dark;
				border-color: $primary_dark;
			}
		}

		&-secondary,
		&.ur-embed-form-button {
			display: flex;
			align-items: center;
			justify-content: center;
			border: $border_width solid #d1d5db;
			background: transparent;
			color: #374151;
			font-weight: $regular;

			&:hover {
				background: $primary_color;
				border-color: $primary_color;
				color: $white;
			}
		}

		&-tertiary {
			background: #eceef7;
			border-color: #eceef7;

			&::before {
				font-family: dashicons;
				font-size: 16px;
				vertical-align: middle;
				margin-right: $spacing_8px;
				padding: 0 $spacing_8px 0 0;
				border-right: $border_width solid $primary_color;
				transition: all .3s ease-in-out;
			}

			&:hover {
				background: $primary_color;
				border-color: $primary_color;
				color: $white;

				&::before {
					border-right-color: $white;
				}
			}
		}
	}
}

.wp-core-ui .button.button-large, .wp-core-ui .button-group.button-large .button {
	min-height: 36px;
	line-height: 20px;
	padding: 0 $spacing_12px;
}
