.user-registration-card {
	background: $white;
	border-radius: 4px;
	display: block;
	border: 1px solid $border-color;

	a {
		text-decoration: none;
	}

	&__header {
		padding: 16px 20px;
		border-bottom: 1px solid $border-color;
	}

	&__title {
		font-size: 1.25em;
		line-height: 1.3;
		margin: 0;
		font-weight: 600;
	}

	&__body {
		padding: 20px;
	}
}
