.user-registration-card {
	display: block;
	border: 1px solid #EDF2F7;
	border-radius: $border_radius_4;
	background-color: #ffffff;

	a {
		text-decoration: none;
	}

	&__header {
		padding: 16px 20px;
		border-bottom: 1px solid $border-color;
	}

	&__title {
		// font-size: 1.25em;
		// line-height: 1.3;
		margin: 0;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		display: flex;
		align-items: center;
		gap: 10px;

		>div:has(img) {
			width: 20px !important;
			height: 20px !important;
			border-radius: 3px;
			overflow: hidden;
			margin-right: 0 !important;
		}
	}

	&__body {
		padding: 20px;
	}
}