
.user-registration,
.user-registration-page,
.ur-multi-device-form-preview {
    .ur-admin-page-topnav,
    #nav-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $white;
        padding: 0 $spacing_20px;
        border-bottom: $border_width solid $border_color;
        margin-bottom: $spacing_24px;
        height: 60px;

        @media screen and (max-width: 1199px) {
            position: unset;
        }

        .ur-page-title__wrapper {
            display: flex;
            align-items: center;
            gap: $spacing_24px;
            height: 100%;

            &--left {
                gap: $spacing_20px;
                height: 100%;

                &-logo {
                    padding: 0;
                    border-right: 0;
                    display: flex;

                    svg {
                        width: 28px;
                        height: 28px;
                    }

                    .user-registration-hamburger-menu {
                        display: flex;
                        align-items: center;

                        @media screen and (min-width: 1200px) {
                            display: none;
                        }

                        &--logo {
                            display: flex;

                            svg {
                                width: 24px;
                                height: 24px;
                                fill: #4e4e4e;
                            }
                        }

                        &--body {
                            position: fixed;
                            background: $white;
                            border: $border_width solid $border_color;
                            box-shadow: 0 8px 24px rgba(0,0,0,0.08);
                            padding: $spacing_22px;
                            z-index: 99;
                            width: 20rem;
                            left: -360px;
                            top: $spacing_30px;
                            height: calc(100vh - 32px);
                            transition: all .5s ease-in-out;

                            @media screen and (max-width: 782px) {
                                top: 45px;
                            }

                            .ur-hamburger-menu-close {
                                svg {
                                    width: 18px;
                                    height: 18px;
                                    fill: #4e4e4e;
                                }
                            }

                            &__items {
                                padding: $spacing_16px 0px;
                                margin: 0;
                                display: flex;
                                flex-direction: column;

                                li {
                                    margin: 0;
                                    height: 100%;

                                    &.has-sub-menu {
                                        .ur-nav-link {
                                            gap: $spacing_8px;

                                            &::after {
                                                content: "";
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23737373' viewBox='0 0 24 24'%3E%3Cpath d='M19.561 7.403a1.468 1.468 0 0 1 2.02 0 1.339 1.339 0 0 1 0 1.944l-8.57 8.25a1.468 1.468 0 0 1-2.021 0l-8.572-8.25a1.339 1.339 0 0 1 0-1.944 1.468 1.468 0 0 1 2.02 0L12 14.68l7.561-7.278Z'/%3E%3C/svg%3E");
                                                background-repeat: no-repeat;
                                                background-position: center;
                                                background-size: 100%;
                                                width: 14px;
                                                height: 14px;
                                                display: block;
                                                margin-left: 0;
                                            }
                                        }

                                        .ur-page-title__wrapper--left-menu__items-sub {
                                            position: relative;
                                            background: $white;
                                            transition: all 0.3s ease-in-out;
                                            margin-bottom: $spacing_8px;
                                            display: none;

                                            &__items {
                                                list-style: none;
                                                margin: 0;
                                                padding-left: $spacing_4px;

                                                li {
                                                    padding: 0;

                                                    a {
                                                        display: block;
                                                        color: #4b5563;
                                                        text-decoration: none;
                                                        transition: all 0.15s ease;
                                                        font-size: 14px;
                                                        line-height: 20px;
                                                        font-weight: $regular;
                                                        padding: $spacing_8px $spacing_12px;

                                                        &:hover {
                                                            background: #f9fafb;
                                                            color: $primary_color;
                                                        }

                                                        &::after {
                                                            display: none;
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .ur-nav-link {
                                        display: flex;
                                        padding: $spacing_12px 0;
                                        font-size: 14px;
                                        text-decoration: none;
                                        color: $grey-400;
                                        position: relative;
                                        transition: all .3s;
                                        font-weight: $medium;
                                        height: 100%;
                                        align-items: center;
                                        justify-content: space-between;

                                        &:hover,
                                        &.current {
                                            color: $primary_color;
                                        }
                                    }
                                }
                            }
                        }

                        &.is-open {
                            .user-registration-hamburger-menu--body {
                                left: $spacing_36px;

                                @media screen and (min-width: 961px) and (max-width: 1199px) {
                                    left: 160px;
                                }

                                @media screen and (max-width: 782px) {
                                    left: 0;
                                }
                            }
                        }
                    }
                }

                &-menu {
                    height: 100%;
                    align-content: center;

                    &__items {
                        gap: $spacing_12px;
                        height: 100%;
                        display: flex;
                        margin: 0;
                        align-items: center;

                        p {
                            padding: 0;
                            margin: 0;
                            font-weight: $medium;
                            font-size: 15px;
                            line-height: 24px;
                            color: $grey-400;
                        }

                        li {
                            padding: 0;
                            margin: 0;
                            font-size: unset;
                            height: 100%;
                            align-content: center;

                            &.has-sub-menu {
                                position: relative;

                                .ur-nav-link {
                                    flex-direction: row-reverse;
                                    gap: $spacing_6px;

                                    &::before {
                                        content: "";
                                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23737373' viewBox='0 0 24 24'%3E%3Cpath d='M19.561 7.403a1.468 1.468 0 0 1 2.02 0 1.339 1.339 0 0 1 0 1.944l-8.57 8.25a1.468 1.468 0 0 1-2.021 0l-8.572-8.25a1.339 1.339 0 0 1 0-1.944 1.468 1.468 0 0 1 2.02 0L12 14.68l7.561-7.278Z'/%3E%3C/svg%3E");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: 100%;
                                        width: 12px;
                                        height: 12px;
                                        display: block;
                                        margin-left: 0;
                                    }
                                }

                                .ur-page-title__wrapper--left-menu__items-sub {
                                    position: absolute;
                                    left: 0;
                                    background: $white;
                                    border: $border_width solid #d1d5db;
                                    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: all 0.15s ease;
                                    z-index: 999;
                                    min-width: 180px;
                                    border-radius: $border_radius_4;
                                    top: 60px;

                                    &__items {
                                        list-style: none;
							            margin: 0;
                                        padding: $spacing_8px;

                                        li {
                                            padding: 0;

                                            a {
                                                display: block;
                                                color: #4b5563;
                                                text-decoration: none;
                                                transition: all 0.15s ease;
                                                font-size: 14px;
                                                line-height: 20px;
                                                font-weight: $regular;
                                                padding: $spacing_8px $spacing_12px;

                                                &:hover {
                                                    background: #f9fafb;
                                                    color: $primary_color;
                                                }

                                                &::after {
                                                    display: none;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }

                                &:hover {
                                    .ur-page-title__wrapper--left-menu__items-sub {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }

                            .ur-nav-link {
                                display: flex;
                                padding: 0 $spacing_4px;
                                font-size: 14px;
                                text-decoration: none;
                                color: $grey-400;
                                position: relative;
                                transition: all .3s;
                                font-weight: $medium;
                                height: 100%;
                                align-items: center;

                                &::after {
                                    content: "";
                                    background: $primary_color;
                                    width: 100%;
                                    height: 2px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    opacity: 0;
                                    transition: all .3s ease-in-out;
                                }

                                &:hover,
                                &.current {
                                    color: $primary_color;
                                }

                                &.current {
                                    &::after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }

                > a {
                    padding: 0 !important;
                    margin: 0 !important;
                    border-right: 0 !important;
                    position: relative;

                    &::before {
                        content: "";
                        background: #f4f4f4;
                        position: absolute;
                        width: 32px;
                        height: 32px;
                        top: 50%;
                        left: 50%;
                        border-radius: 4px;
                        z-index: 0;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        transition: all .3s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }

                    svg {
                        width: 22px;
                        height: 22px;
                        position: relative;
                    }
                }
            }

            &--right {
                display: flex;
                align-items: center;
                gap: $spacing_16px;

                .ur-version-tag {
                    padding: $spacing_2px $spacing_6px;
                    font-weight: $medium;
                    border-radius: $border_radius_4;
                    font-size: 12px;
                    order: 2;
                    color: #8f8f8f;
                    background: #f3f3f3;
                    border: $border_width solid $border_color;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: $spacing_8px;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FF8C39;
                    order: 1;
                    font-weight: $medium;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &::after {
                        content: "";
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff8c39' viewBox='0 0 24 24'%3E%3Cpath d='M2 19V5a3 3 0 0 1 3-3h6a1 1 0 1 1 0 2H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-6a1 1 0 1 1 2 0v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3Z'/%3E%3Cpath d='M20.293 2.293a1 1 0 1 1 1.414 1.414l-9 9a1 1 0 1 1-1.414-1.414l9-9Z'/%3E%3Cpath d='M20 9V4h-5a1 1 0 1 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0Z'/%3E%3C/svg%3E");
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        display: block;
                    }
                }

                .ur-version-tag-separator {
                    display: none;
                }

                .ur-announcement-button {
                    position: relative;
                    width: 32px;
                    height: 32px;
                    border: $border_width solid #e2e8f0;
                    border-radius: 100%;
                    background: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    order: 3;

                    img {
                        width: 28px;
                        height: 28px;
                        transform: translateX(3px);
                    }
                }
            }
        }

        // Form Builder Navigation Area
        .ur-brand-logo {
            padding: 0 $spacing_24px 0 0 !important;
            border-right: $border_width solid $border_color;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 36px;
                height: 36px;
                margin-right: 0;
            }
        }

        .ur-form-title {
			font-weight: $medium;
			font-size: 16px;
			line-height: 26px;
			color: $grey-400;
            padding-left: $spacing_24px;
            padding-right: 0;
		}

        .ur-editing-tag {
			padding: $spacing_4px $spacing_10px;
			background: $blue-50;
			border-radius: $border_radius_50;
			font-style: italic;
			font-weight: $regular;
			font-size: 12px;
			line-height: 150%;
			color: $grey-400;
            margin-left: $spacing_12px;
		}

        .major-publishing-actions {
            transform: translateX(-1px);
        }

        .publishing-action {
            display: flex;
            align-items: center;

            input[type="text"].code {
                min-height: 36px;
                font-size: 13px;
                line-height: 20px;
            }

            .button {
                margin-right: $spacing_10px;

                &:last-child {
                    margin-right: 0;
                }

                &.ur-copy-shortcode {
                    width: 38px;
                }

                &.button-icon {
                    width: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-color: #d1d5db;
                    background: transparent;

                    .dashicons {
                        &::before {
                            transition: all .3s ease-in-out;
                        }
                    }

                    &:hover {
                        background: $primary_color;
                        border-color: $primary_color;

                        .dashicons {
                            &::before {
                                filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                            }
                        }
                    }
                }

                &-secondary {
                    .ur-fs-open-label,
                    .ur-fs-close-label {
                        &::before {
                            content: "";
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100%;
                            display: block;
                            top: 0px;
                            left: 0px;
                            position: relative;
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .dashicons {
                        width: auto;
                        height: auto;
                    }

                    .ur-fs-open-label {
                        &::before {
                            background-image: url("../images/icons/maximize.svg");
                        }
                    }

                    .ur-fs-close-label {
                        &::before {
                            background-image: url("../images/icons/minimize.svg");
                        }
                    }
                }
            }
        }
    }

    #nav-menu-header {
        margin-bottom: 0;
    }

    #wpbody-content {
        &:has(.user-registration-hamburger-menu.is-open) {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: $grey-500;
                opacity: .15;
                z-index: 2;
            }
        }
    }
}

@media (max-width: 1199px) {
	.ur-page-title__wrapper--left-menu {
		display: none;
	}
}

body {
    &.ur-multi-device-form-preview {
        #nav-menu-header {
			.ur-form-preview-devices {
				border-radius: $border_radius_8;
				background: #EDEFF7;
				padding: $spacing_4px;
				display: flex;
				align-items: center;
				gap: $spacing_2px;

				.ur-form-preview-device{
					&.active{
						background: #fff;
						border-radius: 4px;
					}
				}

				svg {
					padding: $spacing_8px;
					width: auto;
					height: auto;
				}
			}

			.major-publishing-actions {
                .publishing-action {
					position: relative;
                    align-items: center;

					input[type="text"] {
						border: $border_width solid $border_color;
						text-align: left;
						border-radius: $border_radius_4;
						padding: 0 $spacing_12px;
                        min-height: 36px;
                        height: 36px;
                        font-size: 13px;
                        line-height: 20px;
                        background: #fafafa;
                        width: 280px;
                        font-family: Consolas, Monaco, monospace;
					}

                    .ur-copy-shortcode {
                        position: unset;
                        transform: unset;
                        width: 36px;
                        height: 36px;
                        min-height: 36px;
                        margin-left: -5px;
                        border-radius: 0 $spacing_4px $spacing_4px 0;
                        background: #f4f4f4 !important;
                        border: $border_width solid $border_color !important;
                    }
				}
			}
		}
    }
}
