
.ur-scroll-ui {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	gap: 20px;

	&__items {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		scroll-behavior: smooth;
		width: 100%;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__item {
		display: inline-block;
		height: 100%;
	}

	&__scroll-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 13px;

		&--backward {
			left: 0;
		}

		&--forward {
			right: 0;
		}

		&__icon {
			color: #333;
			cursor: pointer;
			margin-bottom: 5px;
		}
	}

	.is-disabled {
		display: none;
	}
}
