.user-registration,
.user-registration-page,
.ur-multi-device-form-preview {
    a {
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $grey-500;
        margin: 0;
        font-weight: $semi_bold;
    }

    // h3 {
    //     font-size: 20px;
    //     line-height: 30px;
    // }

    // h4 {
    //     font-size: 18px;
    //     line-height: 28px;
    // }

    // h5 {
    //     font-size: 16px;
    //     line-height: 26px;
    // }

    // h6 {
    //     font-size: 14px;
    //     line-height: 24px;
    // }

    p {
        font-size: 14px;
        line-height: 24px;
        color: $grey-400;
        font-weight: $regular;
    }
}