#wpcontent {
	.wrap {
		.user-registration-header {
			margin: -10px -20px 0 -22px;
		}
	}
}

.user-registration-header {
	background: $white;
	padding: 12px 16px;

	// Customize header in settings page.
	.user-registration_page_user-registration-settings & {
		background-color: $primary_color;
		padding: 20px 0 0;

		.ur-scroll-ui {
			&__scroll-nav {
				&__icon {
					color: $white;
				}

				&--backward {
					background: linear-gradient(to left, transparentize($primary_color, 0.7), transparentize($primary_color, 0.15), $primary_color);
				}

				&--forward {
					background: linear-gradient(to right, transparentize($primary_color, 0.7), transparentize($primary_color, 0.15), $primary_color);
				}
			}
		}

		.subsubsub {
			background: $white;
			font-size: 14px;
			padding: 0 16px;
			margin-top: 0;
			float: none;
			text-align: left;

			a {
				color: $gray-base;
				display: block;
				font-weight: 600;
				padding: 8px 12px;

				&.current {
					color: $primary_color;
				}
			}
		}
	}
}
