/**
 * Variables
 */

// Color System
// Primary
$primary_color: #475bb2;
$primary_dark: darken($primary_color, 10%); // #217dbb
$primary_light: lighten($primary_color, 40%); // #e1f0fa
$grey-0: #ffffff;
$grey-15: #fdfdfd;
$grey-25: #f4f4f4;
$grey-50: #e9e9e9;
$border-color: #e1e1e1;
$grey-75: #bdbdbd;
$grey-100: #bababa;
$grey-200: #999999;
$grey-300: #6b6b6b;
$grey-400: #383838;
$grey-500: #222222;
$grey-600: #1f1f1f;
$grey-800: #131313;
$blue-50: #edeff7;


// Alerts
$green: #37b24d;
$red: #ff4f55;
$orange: #ffba00;
$blue: #2ea2cc;
$black: #000;

// Gray Shades
$white: #ffffff;
$gray_base: #2d3559;
$color_gray-lighten: #cdd0d8;
$color_gray-more-lighten: #e9ebf1;
$color_gray_one: adjust-color(
	$gray_base,
	$saturation: -11%,
	$lightness: +12%
); // #4c5477
$color_gray_two: adjust-color(
	$gray_base,
	$saturation: -18%,
	$lightness: +21%
); // #676d8a
$color_gray_three: adjust-color(
	$gray_base,
	$saturation: -13%,
	$lightness: +50%
); // #b6bbcf
$color_gray_four: adjust-color(
	$gray_base,
	$saturation: -14%,
	$lightness: +63%
); // #dee0e9
$color_gray_five: adjust-color(
	$gray_base,
	$saturation: -12%,
	$lightness: +69%
); // #f0f1f5
$color_gray_six: #eef1f8;
$color_sortable_background: #f7f7f7;

$heading-color: $gray_base;
$body-color: $color_gray_one;

//Nav variables
$nav-link-color: $gray_base;
$nav-link-hover-color: $primary_color;

// Border variables
$border_width: 1px;
$border_color: $color_gray_four;

// Other Color variables
$label_color: $color_gray_two;
$border_color_input: darken($border_color, 10%);
$input_background_color: $color_gray_five;
$input_color: $color_gray_two;
$flat_background: $color_gray_five;
$rounded-color: darken($border_color, 10%);
$light-grey: #94a3a4;

// Social login Color Variable
$color_social_default: $primary_color;
$color_facebook: #4267b2; // Facebook brand color
$color_twitter: #1da1f2; // Twitter brand color
$color_google: #4285f4; // Google brand color
$color_linkedin: #0077b5; //Linkedin brand color
