// Spacings and Border Radius Values
$spacing_2px: 2px;
$spacing_4px: 4px;
$spacing_5px: 5px;
$spacing_6px: 6px;
$spacing_8px: 8px;
$spacing_10px: 10px;
$spacing_12px: 12px;
$spacing_14px: 14px;
$spacing_15px: 15px;
$spacing_16px: 16px;
$spacing_18px: 18px;
$spacing_20px: 20px;
$spacing_22px: 22px;
$spacing_24px: 24px;
$spacing_26px: 26px;
$spacing_28px: 28px;
$spacing_30px: 30px;
$spacing_32px: 32px;
$spacing_34px: 34px;
$spacing_36px: 36px;
$spacing_40px: 40px;
$spacing_44px: 44px;
$spacing_48px: 48px;
$spacing_54px: 54px;
$spacing_60px: 60px;
$spacing_62px: 62px;
$spacing_64px: 64px;
$spacing_100px: 100px;

$border_radius_2: 2px;
$border_radius_3: 3px;
$border_radius_4: 4px;
$border_radius_5: 5px;
$border_radius_6: 6px;
$border_radius_7: 7px;
$border_radius_8: 8px;
$border_radius_9: 9px;
$border_radius_11: 11px;
$border_radius_13: 13px;
$border_radius_50: 50px;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;