.wp-block-user-registration-membership-buy-now .buynow-link .urm-buy-now-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	background: #475bb2;
	color: white;
	padding: 14px 26px;
	border-radius: 5px;
	border: none;
	font-family: inherit;
}
