html {
  scroll-behavior: smooth;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.user-registration-page .ur-membership-list-container, .ur-multi-device-form-preview .ur-membership-list-container {
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.user-registration-page .ur-membership-list-container .membership-list-notice-div .membership-title, .ur-multi-device-form-preview .ur-membership-list-container .membership-list-notice-div .membership-title {
  padding-top: 0;
  margin-bottom: 16px;
  color: #222222;
}
.user-registration-page .ur-membership-list-container .membership-list-notice-div .subscription-message, .ur-multi-device-form-preview .ur-membership-list-container .membership-list-notice-div .subscription-message {
  padding: 14px 24px;
  border-left: 3px solid #17A2B8;
  background: #f4fcfd;
}
.user-registration-page .ur-membership-list-container .membership-list-notice-div .subscription-message p, .ur-multi-device-form-preview .ur-membership-list-container .membership-list-notice-div .subscription-message p {
  margin: 0;
  color: #17A2B8;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.user-registration-page .ur-membership-list-container .ur-membership-container, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  margin: 0;
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  gap: 12px;
  background: #F9F9F9;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s;
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block:hover, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block:hover {
  background: white;
  box-shadow: 0px 6px 18px 0px rgba(10, 10, 10, 0.06);
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block .membership-title, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block .membership-title {
  color: #383838;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding-top: 0;
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block .membership-body, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block .membership-body {
  padding: 0;
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block .membership-description, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block .membership-description {
  color: #6B6B6B;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block .membership-footer, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block .membership-footer {
  padding: 0;
  gap: 12px;
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block .membership-footer .membership-amount, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block .membership-footer .membership-amount {
  line-height: 34px;
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block .membership-footer .membership-signup-button, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block .membership-footer .membership-signup-button {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #475bb2;
  background: #475bb2;
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.user-registration-page .ur-membership-list-container .ur-membership-container .membership-block .membership-footer .membership-signup-button:hover, .ur-multi-device-form-preview .ur-membership-list-container .ur-membership-container .membership-block .membership-footer .membership-signup-button:hover {
  background: #38488e;
}
.user-registration-page .ur_membership_registration_container, .ur-multi-device-form-preview .ur_membership_registration_container {
  margin: 0 auto;
  border-radius: 10px;
}
.user-registration-page .ur_membership_registration_container .ur_membership_title, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_title {
  color: #222222;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}
.user-registration-page .ur_membership_registration_container .ur_membership_divider, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_divider {
  margin: 16px 0 24px;
  background-color: #E1E1E1;
  border: 0;
  height: 1px;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container:last-child, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container:last-child {
  margin-bottom: 0;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .ur_membership_input_label, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .ur_membership_input_label {
  color: #383838;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .ur_membership_input_class:not(.ur_membership_radio_input, .pg-list), .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .ur_membership_input_class:not(.ur_membership_radio_input, .pg-list) {
  height: 38px;
  padding: 0 14px;
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  background: white;
  color: #383838;
  margin-bottom: 0;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .ur_membership_input_class:not(.ur_membership_radio_input, .pg-list)::placeholder, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .ur_membership_input_class:not(.ur_membership_radio_input, .pg-list)::placeholder {
  color: #b5b5b5;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .ur_membership_input_class:not(.ur_membership_radio_input, .pg-list):focus, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .ur_membership_input_class:not(.ur_membership_radio_input, .pg-list):focus {
  border-color: #475bb2;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .notice_red, .user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .notice_blue, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .notice_red, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .notice_blue {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 22px;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .notice_red:empty, .user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .notice_blue:empty, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .notice_red:empty, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .notice_blue:empty {
  padding: 0;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .notice_red, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .notice_red {
  background: #fdd9d9;
  border-left: 3px solid #dc3545;
  word-wrap: break-word;
}
.user-registration-page .ur_membership_registration_container .ur_membership_frontend_input_container .notice_blue, .ur-multi-device-form-preview .ur_membership_registration_container .ur_membership_frontend_input_container .notice_blue {
  border-left: 3px solid #007bff;
  background: #e2e2fd;
  word-wrap: break-word;
}
.user-registration-page .thank-you-page-container, .ur-multi-device-form-preview .thank-you-page-container {
  display: flex;
  flex-direction: column;
  width: 770px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 12px;
  background: var(--Grey-grey-0, #FFF);
  box-shadow: 0px 6px 25px 0px rgba(10, 10, 10, 0.08);
  gap: 12px;
}
.user-registration-page .thank-you-page-container .message-section, .ur-multi-device-form-preview .thank-you-page-container .message-section {
  display: block;
}
.user-registration-page .thank-you-page-container .message-section p, .ur-multi-device-form-preview .thank-you-page-container .message-section p {
  margin-bottom: 0;
  margin-top: 0;
}
.user-registration-page .thank-you-page-container .message-section p:first-child, .ur-multi-device-form-preview .thank-you-page-container .message-section p:first-child {
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.user-registration-page .thank-you-page-container > p, .ur-multi-device-form-preview .thank-you-page-container > p {
  margin-bottom: 0;
}
.user-registration-page .thank-you-page-container .thank-you-notice, .ur-multi-device-form-preview .thank-you-page-container .thank-you-notice {
  padding: 1em;
  font-size: small;
  font-style: italic;
}
.user-registration-page .thank-you-page-container .thank-you-notice.warning, .ur-multi-device-form-preview .thank-you-page-container .thank-you-notice.warning {
  background-color: #efc7a5;
  border-left: 4px solid #b77f02;
}

.membership-body {
  padding: 20px;
  max-height: 130px;
}

.membership-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.membership-amount {
  color: #475bb2;
  font-weight: bold;
  font-size: x-large;
}

.membership-signup-button {
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  background: #475bb2;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
}

.membership-title {
  font-weight: bold;
  font-size: x-large;
  padding: 20px 0 0 0;
}

.ur-membership-duration {
  font-weight: normal;
  color: #545050;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
}

.membership-primary-btn {
  position: relative;
  width: max-content;
  cursor: pointer;
  font-size: 14px;
  background: #475bb2;
  color: white;
  padding: 10px 0;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  transition: all 0.3s;
}
.membership-primary-btn:hover {
  color: white;
  background: #38488e;
}
.membership-primary-btn:disabled {
  background: #818286;
  color: white;
  cursor: not-allowed;
}

.urm-spinner {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: spin 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

.notice-container {
  position: fixed;
  top: 20px;
  right: -700px;
  z-index: 1000;
  transition: right 0.5s ease;
}
.notice-container .notice_red, .notice-container .notice_blue {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 22px;
}
.notice-container .notice_red:empty, .notice-container .notice_blue:empty {
  padding: 0;
}
.notice-container .notice_red {
  background: #fdd9d9;
  border-left: 3px solid #dc3545;
  word-wrap: break-word;
}
.notice-container .notice_red::before {
  content: "\f534";
}
.notice-container .notice_blue {
  border-left: 3px solid #007bff;
  background: #e2e2fd;
  word-wrap: break-word;
}

.close_notice {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.notice-container.active {
  right: 20px;
}

.urm-d-none {
  display: none !important;
}

#ur-payment-gateway-body {
  display: flex;
  flex-direction: column;
}
#ur-payment-gateway-body input {
  cursor: pointer;
}

label {
  cursor: pointer;
}

.message-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coupon-input-area {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.coupon-input-area .input_with_clear_btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.coupon-input-area .input_with_clear_btn input {
  width: 100%;
  padding: 10px 30px 10px 10px;
}
.coupon-input-area button {
  width: 50%;
}
.coupon-input-area span {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-weight: 600;
}

#total-input-notice {
  font-style: italic;
  font-size: x-small;
}

.stripe-input-container {
  border: 1px solid #e9e9e9;
}

.stripe-card-indicator {
  background: #475bb2;
  color: #fff;
  border-radius: 4px 4px 0 0;
  border: none;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 500;
}