name: Build release and Deploy to wordpress.org
on:
  release:
    types: [published]
jobs:
  tag:
    name: New tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check Release Type and Branch
        id: check_release
        run: |
         if [[ "${{ github.ref }}" != "refs/heads/master" && "${{ github.event.release.prerelease }}" == "true" ]]; then
            echo "Branch is not master, and release type is prerelease. Skipping deployment."
            exit 0
          fi
      - name: Set env
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF:10}
      - name: Setup Pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Install dependencies
        run: pnpm install
      - name: Build
        id: build
        uses: wpeverest/action-build@4.0.2
        with:
          generate-zip: true
      - name: WordPress Plugin Deploy
        uses: 10up/action-wordpress-plugin-deploy@master
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ steps.build.outputs.zip_path }}
          asset_name: ${{ github.event.repository.name }}.zip
          asset_content_type: application/zip
