name: Run code sniff on PR
on: pull_request
jobs:
  test:
    name: Code sniff (PHP 7.4, WP Latest)
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 100

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          tools: composer, cs2pr

      - name: Tool versions
        run: |
          php --version
          composer --version

      - name: Get cached composer directories
        uses: actions/cache@v3
        with:
          path: ./vendor
          key: ${{ runner.os }}-${{ hashFiles('./composer.lock') }}

      - name: Setup and install composer
        run: composer install

      - name: Run code sniff
        continue-on-error: true
        run: |
          ./vendor/bin/phpcs --report=checkstyle --report-file=./phpcs-report.xml -s -p . || true

      - name: Show PHPCS results in PR
        if: hashFiles('./phpcs-report.xml') != ''
        run: cs2pr ./phpcs-report.xml
