name: Deploy to wordpress.org
on:
  release:
    types: [published]
jobs:
  deploy:
    name: Deploy to WordPress.org
    if: github.event.release.prerelease != true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: WordPress Plugin Deploy
        uses: 10up/action-wordpress-plugin-deploy@master
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
