name: Sync Files To Pro
on:
  push:
    branches:
      - addon/user-registration-pro
    workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.REPO_SYNC }}
          COMMIT_BODY: "Update: Sync changes from main repository"
          ASSIGNEES: iamprazol
          CONFIG_PATH: .github/workflows/sync-file-list.yml
