name: Sync Files To Pro
on:
  push:
    branches:
      - UR-4132-admins-losing-access-when-whole-site-restriction-is-enabled
    workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@v1.17.17
        with:
          GH_PAT: ${{ secrets.REPO_SYNC }}
          COMMIT_BODY: "Update: Sync changes from main repository"
          ASSIGNEES: som
          CONFIG_PATH: .github/sync-file-list.yml
